.user-type .radio-list-container{
	display: block;
  width: 100%;
	border: 2px solid #bbbbbb;
	background-color: #e8f5fa;
  margin: 0;
  padding: 15px 12px 0px 20px;
}

.employment-status .uikit-control-input--full {
  margin-bottom: 0.4em;
  margin-top: 0.4em;
}

.user-type .uikit-control-input__input:focus+.uikit-control-input__text {
  outline: none;
}

.user-type .uikit-control-input__input:focus+.uikit-control-input__text > span span {
  outline: 1px solid #313131;
}

@media all and (max-width: 1024px) {
  .user-type .radio-list-container:first-child {
    margin-bottom: 20px;
  }
}

@media all and (min-width: 1024px)  {
  .user-type .radio-list-container {
    width: 48%;
    display:inline-block;
  }

  .user-type .radio-list-container:first-child {
    margin-right: 20px;
  }
}

.user-type fieldset span input[type='radio'] + label > span p {
  font-size: .875rem;
  font-weight: 400;
  margin-bottom: 0.1em;
  padding-left: 40px;
}

.uikit-control-input__text {
  margin-left: 40px;
}

.uikit-text-input__label {
  margin-bottom: .4em;
}