div.container {
  display: flex;
}

div.container > div {
  display: flex;
}

@media screen and (max-width: 991px) {
  div.container {
    display: block;
  }

  div.container > div {
    display: block;
  }
}

.flexGrow {
  flex-grow: 1;
}

div.card {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 1.5rem;
  background-color: white;
  border: 1px solid grey;
  margin-top: 1.5rem;
}

p.buttons {
  display: flex;
}
