.marketplace--header {
  position: relative;
  margin-bottom: 0px;
  background-color: #18788d;
  color: rgb(255, 255, 255);
  padding: 1.2em 0px;
}

.marketplace--header .marketplace--logo {
  float: left;
}

.marketplace--header .logo {
  padding-bottom: 0px;
  color: rgb(255, 255, 255);
  font-size: 1.625rem;
  letter-spacing: 1px;
  border-bottom: none;
  font-weight: 700;
  line-height: 1.4;
  margin-bottom: 0.4em;
  margin-top: 1.6em;
}

.marketplace--header a:hover, 
.marketplace--header a:focus, 
main form a.validation-message:focus,
main form a.validation-message:hover {
  background-color: transparent;
}

.marketplace--header a {
  color: rgb(255, 255, 255);
  transition-timing-function: ease-in-out;
  transition-duration: 0.1s;
  transition-property: background-color, border-color, color;
  text-decoration: none;
  outline: none;
  border-bottom: 1px solid rgb(255, 255, 255);
}

.marketplace--header [class^="badge"] {
  font-weight: 700;
  vertical-align: super;
}

.badge--beta {
  background-color: rgb(255, 255, 255);
  color: rgb(24, 120, 141);
  padding: 0.3em 0.6em;
  display: inline-block;
  line-height: 1;
  letter-spacing: 1px;
  font-size: 0.875rem;
  border-radius: 12px;
}

.marketplace--header .user-nav {
  display: block;
  float: right;
  margin-left: 1.6em;
}

.marketplace--header [class^="inline-links"] {
  margin-bottom: 0px;
  padding: 0.1em 0px;
}

.marketplace--header [class^="inline-links"] li:not(:last-child) {
  margin-right: 1.3em;
}

.marketplace--header [class^="inline-links"] li {
  display: inline-block;
  margin: 0px;
}

.marketplace--header [class^="inline-links"] li a {
  padding-bottom: 0.06em;
}

[class^="inline-links"][class$="--inverted"] a {
  color: rgb(255, 255, 255);
}

@media screen and (min-width: 768px) {
  .marketplace--header {
      padding-bottom: 1.2em;
  }
}