.allPermissionsContainer {
    margin-top: 1rem;

    .allPermissionsCheckbox {
        input {
            top: 0.85rem;
        }

        span::before, span::after  {
            top: 0.25rem;
        }
    }
}

.permissionsTable {
    th:first-of-type {
        padding-right: 10rem;
    }
}