.bold {
    font-weight: bold;
}

.stageContentContainer {
    margin-top: 1.6rem;

    .stageList {
        margin-top: 0;
    }
}

.stageTable {
    border-collapse: collapse;

    thead {
        tr {
            border-bottom: 2px solid #000000;
        }
    }

    th {
        font-size: 0.75rem;
        text-align: left;
    }

    tr {
        border-bottom: solid 1px #bebebe;
    }

    tr:nth-child(2n) {
        background-color: #fafafa;
    }
}