.bold {
    font-weight: bold;
}

.stageContentContainer {
    margin-top: 1.6rem;

    .stageList {
        margin-top: 0;
    }
}

.stageTable {
    border-collapse: collapse;

    tr {
        border-bottom: solid 1px #bebebe;
    }

    tr:nth-child(2n) {
        background-color: #fafafa;
    }
}