.teams {
    .teamsInitialView {
        align-items: center;
        display: flex;
        flex-direction: column;
        height: 10rem;
        justify-content: space-between;
        text-align: center;

        p {
            width: 24rem;
        }
    }
}