.bold {
    font-weight: bold;
}

.stageContentContainer {
    margin-top: 1.6rem;

    .stageList {
        margin-top: 0;
    }
}

.stageTable {
    tr:nth-child(2n) {
        background-color: #fafafa;
    }
}