.pageNav {
    margin-top: 2.5rem;

    nav {
        border-bottom: 8px solid #f5f5f5;
    }

    ul.pageNavList {
        list-style-type: none;
        margin-bottom: -8px;
        padding: 0;

        li {
            display: inline-block;
        }

        a {
            display: block;
            padding: 1rem 2rem;
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }

        a.active {
            border-bottom: 8px solid #00698f;
        }

        a.active:hover {
            text-decoration: none;
        }
    }
}