span .changes-list-remove {
    color: red
}

span .changes-list-add {
    color: green
}

span .changes-list-replace {
    color: blue
}

.summary-item-field a {
    white-space: nowrap
}

.summary-item-field-heading-first {
    font-size: 1rem
}

.summary-item-field-heading {
    font-size: 1rem
}


@media (max-width: 767px) {

    .table-row {
        position: absolute;
        top: -9999px;
        left: -9999px
    }

    .item-field {
        display: inline-block;
        width: 33.3% !important;
        border: hidden !important
    }

    .item-field a {
        overflow-wrap: break-word;
    }

    table.changes-table td {
        padding: 1em 1.2em
    }

    table.changes-table thead tr th.middle-header {
        padding-right: 20px;
        text-align: left;
        width: 50%
    }

    table.changes-table thead tr th.right-header {
        width: 10%
    }
}

table.changes-table {
    margin: 1em 0 1em
}

table.changes-table caption {
    font-size: 1.0625rem;
    padding-bottom: 1em;
    text-align: left
}

table.changes-table td {
    padding: 1em 1.2em
}

table.changes-table tr {
    border-bottom: 1px solid #bebebe
}

table.changes-table tr:first-child {
    border-top: 1px solid #bebebe
}

table.changes-table thead tr th {
    font-weight: 700;
    text-align: left;
    line-height: 18px
}

table.changes-table tr:nth-child(even) {
    background-color: white

}

table.changes-table thead tr th.left-header {
    padding-left: 5px
}

table.changes-table thead tr th.middle-header {
    text-align: left
}

table.changes-table thead tr th:nth-child(3) {
    color: #313131;
    text-align: right
}

table.changes-table tr td, table.changes-table tr th {
    font-size: .875rem;
    font-weight: 400;
    vertical-align: top
}

table.changes-table tr td:nth-child(1), table.changes-table tr th:nth-child(1) {
    width: 40%;
    text-align: left
}

table.changes-table tr td:nth-child(3), table.changes-table tr th:nth-child(3) {
    color: #717171;
    text-align: right
}

table.changes-table p, table.changes-table .sidebar h2 span, .sidebar h2 table.changes-table span, table.changes-table .sidebar .display span, .sidebar .display table.changes-table span {
    font-size: .875rem
}

table.changes-table ul, table.changes-table ol {
    font-size: .875rem;
    padding-left: 1.5em
}

table.changes-table.summary-item-body {
    width: 100%
}

table.changes-table.summary-item-body tr:first-child {
    border-top: 0
}

table.changes-table.summary-item-body thead tr:first-child {
    border-bottom: 3px solid #666666
}

table.changes-table.summary-item-body-no-bottom-border-row-bold-borders-text-large tr:first-child {
    border-top: 0
}

table.changes-table .summary-item-field-headings th {
    border-bottom: 0
}

table.changes-table .summary-item-free-text span {
    white-space: pre-wrap
}

