.bold {
    font-weight: bold;
}

.pageAlert {
    margin-bottom: 1rem;
}

.pageAlert .pageAlertContent {
    margin-bottom: 0;
    margin-top: 1rem;
}

.expiryDate {
    margin-bottom: 3rem;
}

.expiryDate:last-child {
    margin-bottom: 1rem;
}
