.header {
  margin-bottom: 40px;
}

.organisation {
  opacity: 0.6;
}

ul.menu {
  box-sizing: content-box;
  list-style-type: none;
  margin-left: 0;
  margin-top: 1.5rem;
  padding-left: 0;
  border-bottom: 1px solid #bebebe;
}

ul.menu li {
  display: inline-block;
  margin: 0;
}

ul.menu li a {
  display: block;
  font-size: 1.25rem;
  padding: 10px;
  margin-right: 7px;
  border-bottom: 0;
}

ul.menu li a:hover {
  background: transparent;
}

ul.menu li a.active {
  font-weight: 700;
  background-color: #def4f9;
  border-bottom: solid 6px #17788d;
}

.headingRow {
  font-weight: bold;
  color: #202751;
  border-bottom: solid 3px #202751;
  padding-bottom: 7px;
}

.actions a {
  margin-right: 15px;
}

table.resultListing {
  border-collapse: collapse;
}

table.resultListing td, table.resultListing th {
  text-align: left;
  padding: 20px;
}

@media (max-width: 891px) {
  table.resultListing thead, table.resultListing .empty, .hideSmall {
    display: none !important;
  }

  table.resultListing td {
    display: block;
    padding: 10px;
  }

  ul.menu li a {
    font-size: 0.83rem;
  }
}

.priceRow {
  border-bottom: solid 1px #bebebe;
  color: #313131;
}

.badge {
  border-radius: 3px;
  border: solid 2px #0f979b;
  color: #0f979b;
  margin-bottom: 5px;
  padding: 2px 5px;
  width: fit-content;
}

.badgeRed {
  border-color: #ff0000;
  color: #ff0000;
}

.badgeBlue {
  border-color: #224a60;
  color: #224a60;
}

.badgeGreen {
  border-color: #40ac78;
  color: #40ac78;
}

.badgeYellow {
  border-color: #f5bf47;
  color: #313131;
}

.badgeGrey {
  border-color: #d6d6d6;
  color: #313131;
}

.greyRow {
  background-color: #fafafa;
}

.alignCenter {
  text-align: center;
}

.alignRight {
  text-align: right;
}

.firstButton {
  width: 100%;
  text-align: center;
}
