.container {
  margin-bottom: 100px;
}

.header {
  margin-bottom: 40px;
}

.headingRow {
  font-size: 17px;
  font-weight: bold;
  color: #202751;
  border-bottom: solid 3px #202751;
  padding-bottom: 7px;
}

.priceRow {
  padding-top: 20px;
  padding-bottom: 21px;
  border-bottom: solid 1px #777777;
  color: #313131;
}

.badge {
  border-radius: 3px;
  border: solid 2px #0f979b;
  color: #0f979b;
  margin-bottom: 5px;
  padding: 2px 5px;
  width: fit-content;
}

.badgeRed {
  border-color: #ff0000;
  color: #ff0000;
}

.badgeBlue {
  border-color: #224a60;
  color: #224a60;
}

.badgeGreen {
  border-color: #40ac78;
  color: #40ac78;
}

.badgeYellow {
  border-color: #f5bf47;
  color: #313131;
}

.badgeGrey {
  border-color: #d6d6d6;
  color: #313131;
}

.greyRow {
  background-color: #fafafa;
}

.alignCenter {
  text-align: center;
}

.alignRight {
  text-align: right;
}

.firstButton {
  margin-right: 10px;
}
