.teamsOverview {
    border-collapse: collapse;
    margin-top: 1.25rem;

    th {
        padding: 1.25rem;
        text-align: left;
    }

    tr {
        border-bottom: solid 1px #bebebe;
    }

    tr:nth-child(2n) {
        background-color: #fafafa;
    }

    td {
        padding: 1.25rem;
    }
}

@media (max-width: 575px) {
    .teamsOverview {
        th {
            padding: 0 0.375rem;
        }

        tr {
            display: block;
            padding: 1rem 0 1rem 1rem;
        }

        td {
            display: block;
            padding: 0.375rem;
        }
    }
}