.heading {
  margin-top: 0;
  margin-bottom: 1rem;
}
.searchButton {
border: none;
  background-color: #18788d;
  color: #fff;
}
.autocompleteItem {
  background-color: #fff;
  z-index: 999;
  padding: 1rem;
}

.autocompleteItemHighlighted {
  background-color: #cecece;
  z-index: 999;
  padding: 1rem;
}

.autocomplete input {
  width: 100%;
  padding: 0.75rem;
  border-top: solid 2px #bbbbbb;
  border-left: solid 2px #bbbbbb;
  border-bottom: solid 2px #bbbbbb;
  border-right: none;
}

.autocomplete > div {
  width: 85%;
}

.autocompleteMenu {
  border: 1px solid rgb(59, 153, 252);
  z-index: 999;
  width: 100%;
  position: absolute;
  display: none;
  left: 0;
  top: 53px;
}

.filters {
  margin: 1.5rem 0;
}

.filters hr {
  margin: 0;
}

.filters a {
  font-size: 1.25rem;
}

.filters span {
  font-size: 1.5rem !important;
}

@media (max-width: 767px) {
  .filters {
    margin-top: -1.5rem;
  }

  .filters a {
    font-size: 0.8rem;
  }

  .filters span {
    font-size: 1.0rem !important;
  }

  .autocomplete {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

/**
 * These !importants are ugly
 * But they exist to combat ui-kit's high specificity
 * on anchor tag.
 */
.filter {
  display: inline-block;
  font-size: 1rem;
  margin-right: 1rem;
  padding: 0px 8px 0px 8px;
  border-bottom: none !important;
}

@media (max-width: 767px) {
  .filter {
    padding: 0px
  }
}


.filter:hover {
  background-color: transparent !important;
}

.filter span {
  font-size: 1.65rem;
  display: inline-block;
  margin-right: 0.25rem;
}

.active-filter {
  border-bottom: solid 6px #17788d !important;
  font-weight: 700;
}

.keyword-search > article > div {
  width: 100%;
}

.keyword-search > article:first-of-type {
  margin-right: 0;
}

.keyword-search button {
  padding: 0.75rem 0.75rem 0.35rem;
  margin: 0;
  width: 100%;
}

.keyword-search button span {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}

.fadeIn {
  transition: opacity 0.3s ease-in-out;
  opacity: 1;
}
.fadeOut {
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
}

.sortBy {
  display: none;
}

.sortBy div input[type='radio'] + label {
  margin: 0;
  padding-bottom: 11px;
  padding-left: 48px;
}

.sortBy div input[type='radio']:checked + label {
  outline: none;
}

.sortBy fieldset {
  margin: 0;
}

.sortBy fieldset > div {
  display: inline-block;
}

.sortBy fieldset > legend {
  float: left;
  line-height: 48px;
  margin: 0;
}

.learn-services-link {
  margin-left: 0px !important;
  position: relative;
  left: 20px;
}

.case-study-signup {
  line-height: 40px;
}

.product-type-checkbox {
  margin-top: -2.2rem;
  margin-bottom: 2.0rem;
}

.typecheckbox {
    margin-bottom: 2.0rem;
}

.no-padding {
  padding: 0 !important;
}
