.buttons {
    white-space: nowrap;
}

.buttons button {
    display: inline-block;
    font-size: 1.1rem;
    margin: 0 0.1rem;
    padding: 0 0.1rem;
    border: none;
}

.reject {
    background: red;
}

.callout--info {
  margin: 1.6em 0;
  box-shadow: none;
  background-color: #e8f5fa;
  padding: 5px
}

.callout--info h4 {
  text-align: center;
  margin-top: 10px
}

.callout--warning {
  margin: 1.6em 0;
  box-shadow: none;
  background-color: rgba(255, 0, 0, 0.1);
  padding: 5px
}

.callout--warning h4 {
  text-align: center;
  margin-top: 10px
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
  margin-right: 5px;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 400px;
  /* background-color: black;
  color: #fff; */
  background-color: #fff;
  color: black;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  border: 2px solid black;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
  top: -5px;
  left: 105%; 
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip:hover  {
  visibility: visible;
  background-color: black;
  color: #fff;
}
