.container {
  margin-bottom: 100px;
}

.headingRow {
  font-weight: bold;
  color: #202751;
  border-bottom: solid 3px #202751;
  padding-bottom: 7px;
}

table.resultListing {
  border-collapse: collapse;
  margin-bottom: 40px;
}

table.resultListing tr {
  border-bottom: solid 1px #bebebe;
  color: #313131;
}

table.resultListing tr:nth-child(2n) {
  background-color: #fafafa;
}

table.resultListing .colMessage {
  width: 600px;
  padding-left: 20px;
}

table.resultListing .colAction {
  width: 200px;
}

table.resultListing .colAction a {
  margin-right: 15px;
  white-space: nowrap;
}

table.resultListing .colName {
  width: 200px;
  padding-left: 20px;
}

table.resultListing .colEmail {
  width: 500px;
  padding-left: 20px;
}

table.resultListing .colService {
  width: 600px;
}

table.resultListing .colAssessmentCriteria {
  width: 250px;
}

table.resultListing .colAssessmentCriteria a {
  margin-right: 15px;
  white-space: nowrap;
}

table.resultListing .colStatus {
  width: 250px;
}

table.resultListing td, table.resultListing th {
  text-align: left;
  padding: 20px 40px 20px 0px;
  box-sizing: content-box;
}

@media (max-width: 1195px) and (min-width: 900px) {
  table.resultListing .colAction {
    width: 140px;
  }

  table.resultListing td, table.resultListing th {
    padding: 20px 30px 20px 0px;
  }

  table.resultListing .colAction a::after {
    content: "\a";
    white-space: pre;
  }
}

@media (max-width: 899px) {
  .header, table.resultListing {
    margin-bottom: 20px;
  }

  table.resultListing thead, table.resultListing .empty, table.resultListing .colAuthor, .hideSmall {
    display: none !important;
  }

  table.resultListing .colName {
    padding-left: 5px;
    max-width: 400px;
  }

  table.resultListing tr {
    display: block;
    padding: 15px 0px;
  }

  table.resultListing td {
    display: block;
    padding: 5px;
  }

  table.resultListing .colName, table.resultListing .colEmail, table.resultListing .colMessage, table.resultListing .colAction, table.resultListing .colStatus {
    width: auto;
    padding-left: 5px;
  }

  table.resultListing .colAction a::after {
    content: "";
  }
}

.briefsFilter {
  float: right;
  text-align: right;
  margin-top: -2.5em;
}

.notification {
  position: relative;
  margin-left: 5px;
}
.notification .circle {
  border-radius: 50%;
  border: solid 2px red;
  padding: 1px 12px;
  background-color: red;
  display: inline;

}
.notification .count {
  color: white;
  width: 24px;
  font-size: 1rem;
  top: 0px;
  left: 1px;
  position: absolute;
  text-align: center;
}

.badge {
  border-radius: 3px;
  border: solid 2px #0A6FB6;
  color: #0A6FB6;
  padding: 2px 5px;
  width: fit-content;
}

.badge.approved {
  border: solid 2px rgba(0, 128, 0, 1);
  color: rgba(0, 128, 0, 1);
}

.badge.rejected {
  border: solid 2px #FF0000;
  color: #FF0000;
}

.badge.requested {
  border: solid 2px rgba(204, 204, 204, 1);
  color: black;
}

.badge.authorisedrepresentative {
  position: relative;
  margin-left: 10px;
}

.unassessed {
  color: #999999;
}

.disclaimer {
  margin-top: 1em;
}

.lightText {
  color: #6f6f6f;
}

nav.dashNav {
  border-bottom: 8px solid #f5f5f5;
  display: block;
}

.dashActions {
  display: flex;
  justify-content: flex-end;
}

.dashActions > * {
  flex: 1;
}

.menuRow {
  margin-top: 2.5rem;
}

ul.menu {
  box-sizing: content-box;
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
  margin-bottom: -8px;
}

ul.menu li {
  display: inline-block;
  margin: 0;
}

ul.menu li a {
  font-size: 1.15rem;
  display: block;
  padding: 1rem;
  border-bottom: 0;
  text-decoration: none;
}

ul.menu li a:hover {
  text-decoration: underline;
}

ul.menu li a.active:hover {
  text-decoration: none;
}

ul.menu li a.active {
  border-bottom: solid 8px #00698f;
}

@media (max-width: 991px) {
  nav.dashNav {
    border-bottom: 0;
  }

  ul.menu {
    margin-bottom: 1.5rem;
  }

  ul.menu li {
    display: block;
    border-top: 1px solid gray;
  }
  
  ul.menu li:last-child {
    border-bottom: 1px solid gray;
  }

  ul.menu li a.active {
    font-weight: 700;
    border-bottom: 0;
    background-color: #dff5fd;
  }
}

.warning {
	&:before {
		background-image: AU-svguri('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">' +
				'<path fill="#f69900" d="M0,24h24v-3.2H0V24z M12,0l12,20.8V0H12z M0,0v20.8L12,0H0z"/>' +
			'</svg>');
	}

	&:after {
		background-image: AU-svguri('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">' +
				'<path fill="#313131" d="M11 17h2v-2h-2v2zm0-8.6v5h2v-5h-2z"/>' +
			'</svg>');

		.ie8 &,
		.lt-ie8 & {
			content: '!';
		}
	}
}

.error {
  // background-color: red;
	&:before {
		background-image: AU-svguri('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">' +
				'<path fill="#ff635c" d="M0,0v24h24V0H0z M22.9,16.6L16.5,23H7.4L1,16.5V7.4L7.4,1h9.2l6.3,6.4V16.6z"/>' +
			'</svg>');
	}

	&:after {
		background-image: AU-svguri('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">' +
				'<path fill="#313131" d="M17 8.4L15.6 7 12 10.6 8.4 7 7 8.4l3.6 3.6L7 15.6 8.4 17l3.6-3.6 3.6 3.6 1.4-1.4-3.6-3.6z"/>' +
			'</svg>');

		.ie8 &,
		.lt-ie8 & {
			content: '!';
		}
	}
}
.error {
  // background-color: red;
}
.error::before {
  content: '!';
  position: absolute;
  top: 50%;
  display: block;
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23ff635c' d='M0,0v24h24V0H0z M22.9,16.6L16.5,23H7.4L1,16.5V7.4L7.4,1h9.2l6.3,6.4V16.6z'/%3E%3C/svg%3E");
  
  
}
.error::after {
  content: '!';
  position: absolute;
  top: 50%;
  display: block;
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23313131' d='M17 8.4L15.6 7 12 10.6 8.4 7 7 8.4l3.6 3.6L7 15.6 8.4 17l3.6-3.6 3.6 3.6 1.4-1.4-3.6-3.6z'/%3E%3C/svg%3E");
}
