.container {
  margin-bottom: 100px;
}

.noRecords {
  padding-top: 10px;
  padding-bottom: 10px;
}

.headingRow {
  font-weight: bold;
  color: #202751;
  border-bottom: solid 3px #202751;
  padding-bottom: 7px;
}

table.resultListing {
  border-collapse: collapse;
  margin-bottom: 40px;
}

table.resultListing tr {
  border-bottom: solid 1px #bebebe;
  color: #313131;
}

table.resultListing tr:nth-child(2n) {
  background-color: #fafafa;
}

table.resultListing .colMessage {
  width: 600px;
  padding-left: 20px;
}

table.resultListing .colAction {
  width: 200px;
}

table.resultListing .colAction a {
  margin-right: 15px;
  white-space: nowrap;
}

table.resultListing .colName {
  width: 200px;
  padding-left: 20px;
}

table.resultListing .colEmail {
  width: 500px;
  padding-left: 20px;
}

table.resultListing .colService {
  width: 600px;
}

table.resultListing .colAssessmentCriteria {
  width: 250px;
}

table.resultListing .colAssessmentCriteria a {
  margin-right: 15px;
  white-space: nowrap;
}

table.resultListing .colStatus {
  width: 250px;
}

table.resultListing td, table.resultListing th {
  text-align: left;
  padding: 20px 40px 20px 0px;
  box-sizing: content-box;
}

@media (max-width: 1195px) and (min-width: 900px) {
  table.resultListing .colAction {
    width: 140px;
  }

  table.resultListing td, table.resultListing th {
    padding: 20px 30px 20px 0px;
  }

  table.resultListing .colAction a::after {
    content: "\a";
    white-space: pre;
  }
}

@media (max-width: 899px) {
  .header, table.resultListing {
    margin-bottom: 20px;
  }

  table.resultListing thead, table.resultListing .empty, table.resultListing .colAuthor, .hideSmall {
    display: none !important;
  }

  table.resultListing .colName {
    padding-left: 5px;
    max-width: 400px;
  }

  table.resultListing tr {
    display: block;
    padding: 15px 0px;
  }

  table.resultListing td {
    display: block;
    padding: 5px;
  }

  table.resultListing .colName, table.resultListing .colEmail, table.resultListing .colMessage, table.resultListing .colAction, table.resultListing .colStatus {
    width: auto;
    padding-left: 5px;
  }

  table.resultListing .colAction a::after {
    content: "";
  }
}

.briefsFilter {
  float: right;
  text-align: right;
  margin-top: -2.5em;
}

.notification {
  margin-left: 2px;
  border-radius: 50%;
  background-color: red;
  color: white;
  font-size: 1rem;
  padding: 0.2rem;
}

.badge {
  border-radius: 3px;
  border: solid 2px #0A6FB6;
  color: #0A6FB6;
  padding: 2px 5px;
  width: fit-content;
}

.badge.approved {
  border: solid 2px rgba(0, 128, 0, 1);
  color: rgba(0, 128, 0, 1);
}

.badge.rejected {
  border: solid 2px #FF0000;
  color: #FF0000;
}

.badge.requested {
  border: solid 2px rgba(204, 204, 204, 1);
  color: black;
}

.badge.authorisedrepresentative {
  position: relative;
  display: inline;
  margin-left: 0.5rem;
}

.unassessed {
  color: #999999;
}

.disclaimer {
  margin-top: 1em;
}

.lightText {
  color: #6f6f6f;
}

nav.dashNav {
  border-bottom: 8px solid #f5f5f5;
  display: block;
}

.dashActions {
  display: flex;
  justify-content: flex-end;
}

.dashActions > * {
  flex: 1;
}

ul.menu {
  box-sizing: content-box;
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
  margin-bottom: -8px;
}

ul.menu li {
  display: inline-block;
  margin: 0;
}

ul.menu li a {
  font-size: 1.15rem;
  display: block;
  padding: 1rem;
  border-bottom: 0;
  text-decoration: none;
}

ul.menu li a:hover {
  text-decoration: underline;
}

ul.menu li a.active:hover {
  text-decoration: none;
}

ul.menu li a.active {
  border-bottom: solid 8px #00698f;
}

@media (max-width: 991px) {
  .profileActionRow {
    margin-top: 2.5rem;
  }

  .profileActionRow a {
    margin-top: 0.5rem;
  }

  .badge.authorisedrepresentative {
    display: block;
    margin-left: 0rem;
    margin-top: 0.1rem;
  }
}
