.difficulty input[type="radio"] {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  clip: rect(0 0 0 0);
}
.difficulty input[type="radio"]:focus + label {
  outline: none;
  -webkit-box-shadow: 0 0 0 3px #e05200;
  -moz-box-shadow: 0 0 0 3px #e05200;
  box-shadow: 0 0 0 3px #e05200;
  border-radius: 0px;
}
.difficulty label {
  width: 133px;
  height: 50px;
  margin-right: 36px;
  color: #224a61;
  padding: 1em 1.6em 1em 1.6em;
  border: 2px solid;
}
.difficulty label div {
  width: 5em;
  margin-top: -5px;
}

.difficulty input[type="radio"]:checked + label {
  background-color: #c3ebf4;
}
.difficulty label:nth-of-type(3){
  margin-right: 0;
}

@media screen and (max-width: 480px) {
  .difficulty label {
    width: 100% !important;
    margin-top: 36px;
    text-align: center;
  }
  .difficulty label div {
    width: 6em;
    margin-top: -7px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
  }
  .difficulty label:nth-of-type(2) div {
    right: 9px !important;
  }

  .difficulty label:first-of-type {
    margin-top: 0;
  }
}

