.bordered_list {
  margin: 0 0 1em;
  padding: 0 !important;
  border-top: solid 1px #bebebe;
}

.bordered_list__item {
  list-style: none;
  margin: 0;
  border-bottom: solid 1px #bebebe;
  padding: 0.5em 0 2em;
}

.bordered_list__item p {
  margin: 0;
}