.radioListContainer {
  display: block;
  width: 100%;
  background-color: #def4f9;
  margin: 0;
  padding: 17px 12px 22px 20px;
}

.radioListContainer:focus-within {
  box-shadow: inset 0 0 0 3px #e05200;
}

@media all and (max-width: 1024px) {
  .radioListContainer:first-child {
    margin-bottom: 20px;
  }
}

@media all and (min-width: 1024px) {
  .radioListContainer {
    width: 48%;
    display:inline-block;
  }

  .radioListContainer:first-child {
    margin-right: 20px;
  }
}

.radioListContainer > span p {
  font-size: .875rem;
  font-weight: 400;
  margin-bottom: 0.1em;
}