div.weightingContainer {
  display: flex;
  align-items: center;
}

div.weightingContainer > * {
  flex: 1
}

div.weightingRemaining {
  margin-left: 0.75rem;
}

div.criteriaActions a {
  margin-right: 0.75rem;
}