{
  "parser": "babel-eslint",
  "plugins": [
    "jsx-a11y",
    "react",
    "react-native",
    "prettier"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:jsx-a11y/recommended",
    "plugin:react/recommended",
    "airbnb",
    "prettier",
    "prettier/react"
  ],
  "rules": {
    "react/prop-types": "off",
    "jsx-a11y/label-has-for": [ 2, {"required": {"some": [ "nesting", "id" ]}}],
    "prettier/prettier": ["error",{"singleQuote": true, "semi": false, "printWidth": 120}],
    "react/jsx-filename-extension": "off",
    "react/forbid-prop-types": "off",
    "import/no-extraneous-dependencies": "off",
    "import/no-unresolved": "off",
    "import/extensions": "off",
    "react-native/no-inline-styles": 2,
    "import/no-named-as-default": "off"
  },
  "parserOptions": {
    "sourceType": "module"
  },
  "globals": {
    "document": false,
    "window": false,
    "fetch": false,
    "global": false,
    "ReactEvent": false
  },
  "env": {
    "jest": true
  }
}