{
  "parser": "babel-eslint",
  "plugins": [
    "jsx-a11y",
    "react"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:jsx-a11y/recommended",
    "plugin:react/recommended"
  ],
  "rules": {
    "react/prop-types": "off",
    "react/display-name": "off",
  },
  "globals": {
    "document": false,
    "window": false,
    "fetch": false,
    "global": false,
    "ReactEvent": false
  },
  "env": {
    "jest": true
  }
}