.wrapper {
  position: relative;
  box-sizing: border-box;
  max-width: 75em;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 1.6em;
}

.wrapper::after {
  clear: both;
  content: "";
  display: table;
}

.yellowButton {
  height: auto;
  background-color: #f5d815;
  color: #000000;
  text-decoration: none;
  padding-top: 16px;
  padding-bottom: 14px;
  font-weight: normal;
  border-radius: 0px;
}

.yellowButton:hover {
  background-color: #5bcbe3;
}
