svg.tick {
  margin-right: 0.75rem;
}

div.header {
  position: relative;

  .internalReference {
    margin-left: 0.75rem;
  }

  .tagLine {
    opacity: 0.6;
  }

  .overviewHeading {
    margin-top: 0;
  }
}

.headerMenu {
  position: absolute;
  top: 0;
  right: 0;

  ul {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      display: inline-block;
      color: #999999;
    }

    li + li:before {
      content: "|";
      padding: 0 5px;
    }
  }
}

div.headerMenuClosingTime {
  display: inline-block;
  margin-right: 0.75rem;
}

a.headerMenuDelete, a.headerMenuDelete:hover {
  color: #FF0000;
}

div.deleteAlert {
  margin-top: 1.5rem;

  button {
    margin-right: 1.5rem;
    margin-top: 0.75rem;
  }
}

ul.overviewList {
  padding-left: 0;
  list-style-type: none;

  li {
    border-bottom: 1px solid gray;
    padding: 1.5rem 0;
    font-size: 1.25rem;
  }
}

div.stageStatus {
  float: right;
  font-size: 1rem;
}

@media (max-width: 450px) {
  .headerMenu {
    position: relative;

    .menuList {
      margin-top: 0.25rem;
    }
  }
}