tr.row {
	border-top-color: black;
	border-top-style: solid;
	border-top-width: 2px;
}

td.column {
	width: 25%;
	padding: 1rem 1rem 2rem 0rem;
	vertical-align: top;
	text-align: left;
}
th.column {
	font-weight: bold;
	text-align: left;
}
