.summary-item-field a {
    white-space: nowrap
}

.summary-item-field-heading-first {
    font-size: 1rem
}

.create-opportunity-link {
    padding-bottom: 0px
}

.create-opportunity-link p {
    margin-bottom: 1rem
}

section.live-brief-container {
    margin-top: 3.5rem
}

.dashboard-main {
    width: 74.48861%
}

@media (min-width: 768px) {
    tbody tr td h5 {
        display: none
    }
}

.item-field-first-full {
    width: 25%
}

.item-field-first {
    width: 25%
}

.item-field-second-left {
    width: 25%;
    padding-top: 0px
}

.item-field-second-right {
    width: 25%
}

.item-field-third-left {
    width: 25%;
    padding-top: 0px
}

.item-field-third-right {
    width: 25%;
    padding-top: 0px;
    text-align: right
}

.item-field-third-right.teamview {
    text-align: left
}

@media (max-width: 767px) {
    .item-field-third-right.teamview {
        text-align: right
}
}

.item-field-fourth {
    width: 25%;
    padding-top: 0px;
    text-align: right
}

@media (max-width: 767px) {
    .dashboard-main {
        width: 100%
    }

    section h2 {
        border-bottom: 3px solid #666666;
        padding-bottom: 15px;
        margin-bottom: 0px
    }

    .summary-item-field-heading {
        display: none
    }


    .table-row {
        position: absolute;
        top: -9999px;
        left: -9999px
    }

    .closed-item-row {
        display: block
    }

    .closed-item-field-title {
        display: inline-block;
        width: 33.3% !important;
        border: hidden !important
    }

    .closed-item-field-date {
        display: inline-block;
        width: 33.3% !important;
        border: hidden !important
    }

    .closed-item-field-actions {
        display: inline-block;
        width: 33.3% !important
    }

    .closed-item-field-actions a {
        white-space: nowrap
    }

    .item-field {
        display: inline-block;
        width: 33.3% !important;
        border: hidden !important
    }

    .item-field-first-full {
        display: inline-block;
        width: 100%;
        padding-left: 0px
    }

    .item-field-first {
        display: inline-block;
        width: 50%;
        padding-left: 0px
    }

    .item-field-second-left {
        display: inline-block;
        width: 50%;
        text-align: left;
        padding-left: 0px
    }

    .item-field-second-right {
        display: inline-block;
        width: 50%;
        text-align: right
    }

    .item-field-third-left {
        display: inline-block;
        width: 50%;
        text-align: left
    }

    .item-field-third-right {
        display: inline-block;
        width: 50%;
        text-align: right;
    }

    .item-field-fourth {
        display: inline-block;
        width: 50%;
        text-align: right
    }

    .item-field-fourth-empty {
        display: none
    }

    .item-field a {
        overflow-wrap: break-word;
    }

    table.brief-table tr td {
        padding: 1em 1.2em 1em 0.4em
    }

    table.brief-table tr td.item-field-second-left {
        padding: 0 1.2em 1em 0.4em
    }
    
    table.brief-table tr td.item-field-third-left {
        padding: 0 1.2em 1em 0.4em
    }
    
    table.brief-table tr td.item-field-third-right {
        padding: 0 1.2em 1em 0.4em
    }

     table.brief-table tr td.item-field-fourth {
        padding: 0 1.2em 1em 0.4em
    }

    table.brief-table thead tr th.center-header {
        padding-right: 20px;
        text-align: left
    }

    table.brief-table thead tr th.right-header {
        text-align: right;
        width: 10%
    }

    tbody tr td h5 {
        margin: 0px
    }
}

table.brief-table {
    margin: 1em 0 1em
}

table.brief-table caption {
    font-size: 1.0625rem;
    padding-bottom: 1em;
    text-align: left
}

table.brief-table td {
    padding: 1em 1.2em 1em 0.4em
}

table.brief-table tr {
    border-bottom: 1px solid #bebebe
}

table.brief-table tr:first-child {
    border-top: 1px solid #bebebe
}

table.brief-table thead tr th {
    font-weight: 700;
    line-height: 18px
}

table.brief-table tr:nth-child(even) {
    background-color: white

}

.left-header {
    text-align: left;
    padding-left: 5px
}

.center-header {
    text-align: left
}

.right-header {
    color: #313131;
    text-align: right;
    padding-right: 15px
}

table.brief-table tr td, table.brief-table tr th {
    font-size: .875rem;
    font-weight: 400;
    vertical-align: top;
}

table.brief-table p, table.brief-table .sidebar h2 span, .sidebar h2 table.brief-table span, table.brief-table .sidebar .display span, .sidebar .display table.brief-table span {
    font-size: .875rem
}

table.brief-table ul, table.brief-table ol {
    font-size: .875rem;
    padding-left: 1.5em
}

table.brief-table.summary-item-body {
    width: 100%;
    margin-top: 0px
}

table.brief-table.summary-item-body tr:first-child {
    border-top: 0
}

table.brief-table.summary-item-body thead tr:first-child {
    border-bottom: 3px solid #666666
}

table.brief-table.summary-item-body-no-bottom-border-row-bold-borders-text-large tr:first-child {
    border-top: 0
}

table.brief-table .summary-item-field-headings th {
    border-bottom: 0
}

table.brief-table .summary-item-free-text span {
    white-space: pre-wrap
}

tbody tr td ul {
    list-style: none
}

