<!DOCTYPE html>
<!--[if lt IE 8]>
<html class="js lt-ie8 lt-ie9" lang="en">
<![endif]-->
<!--[if IE 8]>
<html class="js lt-ie9 ie8" lang="en">
<![endif]-->
<!--[if IE 9 ]>
<html class="js ie9" lang="en">
<![endif]-->
<!--[if !(IE)]><!-->
<html class="js" lang="en">
<!--<![endif]-->
<head>
  <title>Digital Marketplace — where government buys digital and ICT</title>
  <meta charSet="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link rel="shortcut icon" href="/static/media/favicon.png" type="image/x-icon"/>

  <link rel="stylesheet" type="text/css" href="/bundle/pancake.css"/>
  <link rel="stylesheet" type="text/css" href="/bundle/custom.css"/>

  <script async src="//www.google-analytics.com/analytics.js"></script>
  <script async src="/bundle/autotrack.custom.js"></script>
  <script>
    window.ga = window.ga || function () {
      (ga.q = ga.q || []).push(arguments)
    };
    ga.l = +new Date;
    <% if (settings.env === 'development') { %>
    ga('create', 'UA-72722909-6', 'auto');
    <% } else{ %>
    ga('create', 'UA-72722909-5', 'auto');
    <% } %>
    ga('send', 'pageview');
    ga('require', 'outboundLinkTracker', {
      shouldTrackOutboundLink: function (link, parseUrl) {
        var href = link.getAttribute('href') || link.getAttribute('xlink:href');
        var url = parseUrl(href);
        var isExternal = (url.hostname != location.hostname && url.protocol.slice(0, 4) == 'http');
        // treat downloads as external links
        var exts = 'doc*|xls*|ppt*|pdf|zip|rar|exe|mp3';
        var regExt = new RegExp(".*\\.(" + exts + ")(\\?.*)?$");
        var isDownload = url.pathname.match(regExt);
        return isDownload || isExternal;
      }
    });
    ga('require', 'urlChangeTracker');
  </script>

</head>
<body class="au-grid au-body">
<noscript class="col-sm-push-2 col-sm-8 col-xs-12">
  <div class="au-page-alerts au-page-alerts--error" role="alert">
    <h4 id="validation-masthead-heading" tabindex="-1"> Digital Marketplace requires Javascript and Cookies running in your browser.</h4>
    To continue you can:
    <ul>
      <li>Enable Javascript (<a href="https://www.enable-javascript.com/" rel="external noopener noreferrer" target="_blank">how do I enable Javascript?</a>) and Cookies (<a href="http://www.whatarecookies.com/enable.asp">how do I enable Cookies?</a>)</li>
      <li>Contact our Help Desk on 0442 024 113</li>
    </ul>
  </div>
</noscript>
<div id="root"></div>
<script crossorigin src="/bundle/marketplace.js"></script>
</body>
</html>
