<!DOCTYPE html>
<html lang="en">
	<head>
    <title>ORAMS Marketplace</title>
		<meta charSet="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
		<link rel="shortcut icon" href="/static/media/favicon.png" type="image/x-icon" />

		<link rel="stylesheet" type="text/css" href="/bundle/pancake.css"/>
		<link rel="stylesheet" type="text/css" href="/bundle/custom.css"/>
    <noscript>
     Javascript is disabled. Please enable javascript and refresh the page.
    </noscript>
  </head>
	<body class="uikit-grid uikit-body">
		<div id="root"></div>
		<script crossorigin src="/bundle/orams.js"></script>
	</body>
</html>
