<!DOCTYPE html>
<!--[if lt IE 8]>
  <html class="js lt-ie8 lt-ie9" lang="en">
<![endif]-->
<!--[if IE 8]>
  <html class="js lt-ie9 ie8" lang="en">
<![endif]-->
<!--[if IE 9 ]>
  <html class="js ie9" lang="en">
<![endif]-->
<!--[if !(IE)]><!-->
  <html class="js" lang="en">
<!--<![endif]-->
	<head>
    <title>ORAMS Marketplace</title>
		<meta charSet="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
		<link rel="shortcut icon" href="/static/media/favicon.png" type="image/x-icon" />
		<link rel="stylesheet" type="text/css" href="/bundle/uikit-orams.css"/>
    <link rel="stylesheet" type="text/css" href="/bundle/custom.css"/>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-72722909-7"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-72722909-7');
    </script>
    <noscript>
     Javascript is disabled. Please enable javascript and refresh the page.
    </noscript>
  </head>
	<body class="au-grid au-body">
		<div id="root"></div>
		<script crossorigin src="/bundle/orams.js"></script>
    <script src="/bundle/pancake/js/accordion.js"></script>
    <script src="/bundle/pancake/js/animate.js"></script>
	</body>
</html>
