.bold {
    font-weight: bold;
}

a.removeLink {
    color: red;
}

.stageContentContainer {
    margin-top: 1.6rem;
}

.stageList {
    margin-top: 0.5rem;
    padding-left: 1.25rem;
}

.stageTable {
    border-collapse: collapse;
    margin-top: 1rem;
    width: 100%;

    thead {
        tr {
            border-bottom: 2px solid #000000;
        }
    }

    th {
        font-size: 0.875rem;
        text-align: left;
    }

    tr {
        border-bottom: solid 1px #bebebe;
    }

    tr:nth-child(2n) {
        background-color: #fafafa;
    }

    td {
        padding: 1rem 0.25rem;
    }
}

.selectedItemActionsContainer {
    float: right;

    ul.selectedItemActions {
        padding: 0;

        li {
            border: 0;
            margin: 0rem 0.25rem;
            padding: 0;
        }
    }
}

@media (max-width: 575px) {
    .selectedItemActionsContainer {
        display: inline;
        float: none;

        ul.selectedItemActions {
            display: block;
            float: none;

            li {
                display: block;
                margin: 0;
            }
        }
    }
}
