.heading {
  margin: 0 0 0.5rem;
}

.row {
  margin-bottom: 3em;
}

.rowNoMargin {
  margin-bottom: 0em;
}

.product > a {
    display:inline;
}
.privateInfo {
  border: red 5px solid;
  padding:10px;
}
.row hr {
  margin-bottom: 3rem;
}

.row hr.productHr {
  margin: 1.5rem 0 0.5rem 0;
  display: inline-block;
  position: relative;
  clear: both;
  width: 100%;
}

.row:last-of-type {
  margin-bottom: 0;
}

.row h4:first-of-type, .row ul {
  margin-top: 0;
}

.section-title {
  margin-top: 0;
}

.tile {
  border: solid 1px rgba(23, 120, 141, 0.5);
  box-shadow: 0 0 5px 0 rgba(187, 187, 187, 0.5);
  background-color: #fff;
  padding: 1.5rem 2rem;
  text-align: center;
  margin-bottom: 2em;
}

.nocategories {
  opacity: 0.6;
}

.tile-title {
  display: block;
  color: #6e6e6e;
  margin-bottom: 10px;
  font-size: 17px;
}

.tile b {
  display: block;
  margin-bottom: 0.25rem;
  font-size: 20px;
}

.tile p {
  margin-bottom: 20px;
  font-size: 17px;
}

.tile a[role="button"] {
  width: 100%;
  height: auto;
  margin: 0;
}

.continue-link > * {
  width: 100%;
  text-align: center;
  display: block;
  margin: 5px 0;
}

.review-header h4:first-of-type, .review-header ul {
  margin-top: 0;
}

.full-header {
  background: #f0f3f5;
  padding-top: 1.5em;
}

.full-header h4:first-of-type, .full-header ul {
  margin-top: 0;
}

.full-header > div {
  max-width: 75em;
  margin: 0 auto;
  padding: 0 1.6em;
}

.full-profile {
  padding-top: 3rem;
}

.seller-profile-content > div:first-of-type hr {
  display: none;
}

.meta-row {
  margin: 0 0 1em;
}


.case-study-list > li {
  border-top: 6px solid #00BFE9;
}

@media (max-width: 900px) {

  .case-study-list li {
    flex-basis: 100% !important;
  }
}


.content-table tbody tr td:nth-child(1), .content-table tbody tr th:nth-child(1) {
  width: 70%;
}

.content-table tr:first-child {
    border-top: none !important;
}

.content-table td, .content-table th {
    border-right:none !important;
}

.content-table {
    border:none !important;
}
.content-table tr:nth-child(even) {
    background-color: #ffffff !important;
}

table.content-table {
    margin-top: 0;
}

table.content-table thead {
    border-bottom: solid 2px #6e6e6e;
}

table.content-table tr th  {

  font-size: 16px !important;
  padding-top: 0px;
}

.table-align-right {
  text-align: right;
}

.product-heading {
  margin-top: 1rem;
}

.badges {
  margin-bottom: 1em;
}

.badges span {
  display: inline-block;
  padding: 3px 6px;
  margin-bottom: 10px;
  margin-right: 0.75em;
  border-radius: 2px;
  font-size: 14px;
}

.badges span:last-of-type {
  margin-right: 0;
}

.badges span > div {
  margin-left: 5px;
}

.evaluated-badges span {
  border: solid 1px #17788d;
}
.provides-badges span {
  border: solid 1px #bbbbbb;
}

span.border {
  border: solid 1px #bbbbbb;
  display: inline-block;
  padding: 6px;
  margin-bottom: 10px;
  margin-right: 0.75em;
  border-radius: 2px;
  font-size: 14px;
}

.external-link {
  word-break: break-word;

}

.external-link-hover{
  border-bottom:0px !important;

}

.external-link-hover:hover {
  background-color: #115361 !important;
}

.white {
  color: #FFFFFF !important;
}

.accordionPaddTopp{
  margin-top: 0.75rem;
  display: block;
}

.bold-noMargin{
  font-weight: bold;
  margin-bottom: 0px;
}

.bold{
  font-weight: bold;
}

h3, h3 a {
  font-size: 1.25rem;
}

.au-display-lg {
  font-family: -apple-system, system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 18px;
  font-weight: 700;
  height: 25px;
  line-height: 25.2px;
  margin-bottom: 7.2px;
  margin-top: 0px;
}

/* Summary */

.seller-profile-summary {
  margin-bottom: 1.2rem;
}

.badges-row {
  padding-left: 0.75rem;
}

.bold {
  font-weight: bold;
}

/* Content */
.seller-profile-content {
  margin-bottom: 1.2rem;
}

.seller-profile-content p {
  margin: 0 0 1.2rem 0;
}

.seller-profile-content p.bold-noMargin + ul {
  margin: 0 0 1.2rem 0;
}

/* Visibility message */
.visibility-message {
  margin-bottom: 1.5rem;
  color: #00698F;
}

.visibility-message svg {
  margin-right: .5rem;
  vertical-align: middle;
}