.container {
  margin-bottom: 2.5rem;
}

div.headingRow {
  margin-bottom: 2.5rem;
}

div.flex {
  display: flex;
}

div.flexColumn {
  padding: 1.5rem 0;
  display: flex;
  flex-direction: column;
}

.flexGrow {
  flex-grow: 1;
}

ul.tickList li {
  list-style-image: url('/static/svg/green-tick.svg');
}

@media screen and (max-width: 991px) {
  div.flex {
    display: block;
  }

  div.separator {
    border-top: 2px solid #dfdfdf;
    margin-top: 1.5rem;
  }
}

@media screen and (min-width: 992px) {
  div.separator {
    border-left: 2px solid #dfdfdf;
    height: 100%;
    position: absolute;
    left: 50%;
    margin-left: -1px;
    top: 0;
  }
}