@import "../../main.scss";

.phaseBanner {
  background: #313131;
  color: #f0f3f5;
  padding: 0.4em 0;
}

.phaseBanner a {
  color: #f0f3f5;
}

.phaseBanner p {
  font-size: 0.875rem;
  margin: 0;
}

.phaseBanner a:focus {
  -webkit-box-shadow: 0 0 0 3px #ff8629;
  -moz-box-shadow: 0 0 0 3px #ff8629;
  box-shadow: 0 0 0 3px #ff8629;
  outline: none;
}
