.team-view {
  padding-top: 14px;
  padding-left: 72px;
}

@media (max-width: 767px) {
  .team-view {
    padding-left: 5px;
    padding-top: 0px;
    margin-left: -15px;
  }
}

.team-view-heading {
  font-size: 20px;
  margin-bottom: 35px;
}

.team-view-username {
  font-size: 32px;
  font-weight: bold;
}

.team-view-teamname {
  margin-bottom: 0px;
  font-size: 17px;
  color: #6e6e6e;
  line-height: initial;
}



.heading {
  margin-top: 0;
  margin-bottom: 1rem;
}

.filters {
  margin: 1.5rem 0 0;
}

.filters hr {
  margin: 0;
}

.filters a {
  font-size: 1.25rem;
  padding-bottom: 10px;
}

.filters span {
  font-size: 1.5rem !important;
}

@media (max-width: 767px) {
  .filters {
    margin-top: -1.5rem;
  }

  .filters a {
    font-size: 0.875rem;
  }

  .filters span {
    font-size: 1.0rem !important;
  }
}

/**
 * These !importants are ugly
 * But they exist to combat ui-kit's high specificity
 * on anchor tag.
 */
.filter {
  display: inline-block;
  font-size: 1.25rem;
  margin-right: 1rem;
  padding: 10px;
  border-bottom: none !important;
}

@media (max-width: 767px) {
  .filter {
    padding: 0px
  }
}

.filter:hover {
  background-color: transparent !important;
  cursor: pointer;
}

.filter span {
  font-size: 1.65rem;
  display: inline-block;
  margin-right: 0.25rem;
}

.active-filter {
  border-bottom: solid 6px #17788d !important;
  font-weight: 700;
}

.fadeIn {
  transition: opacity 0.3s ease-in-out;
  opacity: 1;
}
.fadeOut {
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
}



.summary-item-free-text {
  color: #313131;
  text-decoration: none;
  outline: none;
  border-bottom: solid 1px #5bcbe3;
}

.closed-brief-links {
  white-space: nowrap;
}

