

@media (max-width: 767px) {
  .team-view {
    margin-left: -15px;
  }
}

.team-view-heading {
  font-size: 20px;
  margin-bottom: 35px;
}

.team-view-username {
  font-size: 32px;
  font-weight: bold;
}

.team-view-username span {
  display: block;
}

@media (max-width: 767px) {
  .team-view-username {
    width: 65%;
  }
}

.team-view-username span button {
  margin: 10px 0px 50px 0px;
  float: right;
  padding: 7px;
  font-size: 15px;
  font-weight: normal;
  width: 25%;
}

@media (max-width: 767px) {
  .team-view-username span button {
    float: left;
    width: 300px
  }
}

.team-view-username span a{
  width: 320px;
  height: 50px;
  font-size: 17px;
  float: right;
  text-align: center;
  color: white
}

.team-view-teamname {
  margin-bottom: 0px;
  font-size: 17px;
  color: #6e6e6e;
  line-height: initial;
}

.team-view-brief-button {
  display: block
}


.heading {
  margin-top: 0;
  margin-bottom: 1rem;
}

.filters {
  margin: 1.5rem 0 0;
  width: 74.48861%
}

.filters hr {
  margin: 0;
}

.filters a {
  font-size: 1.25rem;
}

.filters span {
  font-size: 1.5rem !important;
}

@media (max-width: 767px) {
  .filters {
    margin-top: -1.5rem;
    width: 100%
  }

  .filters a {
    font-size: 0.875rem;
  }

  .filters span {
    font-size: 1.0rem !important;
  }

  .filter {
    padding-bottom: 10px !important
  }
}

/**
 * These !importants are ugly
 * But they exist to combat ui-kit's high specificity
 * on anchor tag.
 */
.filter {
  display: inline-block;
  font-size: 1.25rem;
  margin-right: 1rem;
  border-bottom: none !important;
  padding: 10px
}

.filter:hover {
  background-color: transparent !important;
  cursor: pointer;
}

.filter span {
  font-size: 1.65rem;
  display: inline-block;
  margin-right: 0.25rem;
}

.active-filter.filter {
  background-color: #def4f9 !important;
  border-bottom: solid 6px #17788d !important;
  font-weight: 700;
}

.fadeIn {
  transition: opacity 0.3s ease-in-out;
  opacity: 1;
}
.fadeOut {
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
}

.summary-item-free-text {
  color: #313131;
  text-decoration: none;
  outline: none;
  border-bottom: solid 1px #5bcbe3;
}

.closed-brief-links {
  white-space: nowrap;
}

