.wrapper *, main * {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

h1:first-of-type, .hero .site-title:first-of-type {
  margin-top: 0.4em;
}

h1, .hero .site-title {
  font-weight: 700;
}

h1, .hero .site-title {
  font-size: 1.5rem;
}
@media screen and (min-width: 768px) {
    h1, .hero .site-title {
    font-size: 1.625rem;
  }
}

main {
  padding: 0 1.6em;
  box-sizing: content-box;
}

main {
  max-width: 75em;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}

main {
  box-sizing: border-box;
  padding-top: 3.2em;
  width: 100%;
  margin-bottom: 3.2em;
}

main form .form-control, main form .field {
  list-style: none;
  margin: 1.6em 0;
  padding: 0;
}

form fieldset {
  margin: 0 0 1.2em 0;
  padding: 0;
  border: none;
}

form fieldset legend {
  margin-bottom: 0.8em;
  font-weight: 700;
  border: 0;
  padding: 0;
}

main form .validation-message span {
  color: #c00;
  font-size: 0.875rem;
  font-weight: 400;
}

.visuallyhidden, .visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

main form .validation-message {
  display: inline-block;
  border: 0;
}

.sidebar a, main article:first-of-type a, main section:first-of-type a, main header:first-of-type a {
  color: #313131;
  text-decoration: none;
  outline: none;
  transition-timing-function: ease-in-out;
  transition-duration: 0.1s;
  transition-property: background-color, border-color, color;
}

main form .question-heading, main form legend {
  font-weight: 700;
}

form .hint {
  display: block;
  margin-bottom: 0.4em;
  font-size: 0.875rem;
  color: #717171;
}

.user-type .uikit-control-input__input:focus+.uikit-control-input__text {
  outline: none;
}

.user-type .uikit-control-input__input:focus+.uikit-control-input__text > span span {
  outline: none;
}

.employment-status .uikit-control-input--full {
  margin-bottom: 0.4em;
  margin-top: 0.4em;
}

.radioListBoxElement > .uikit-control-input__input:focus + .uikit-control-input__text:before {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.uikit-control-input__text {
  margin-left: 40px;
}

.uikit-text-input__label {
  margin-bottom: .4em;
}

.uikit-text-input:focus {
  outline: 3px solid #e05200;
  outline-offset: 0px;
  background-color: transparent;
}

.uikit-text-input.uikit-text-input--invalid:focus {
  background-color: transparent;
}

.uikit-control-input__input:focus + .uikit-control-input__text:before {
  -webkit-box-shadow: 0 0 0 3px #e05200;
  -moz-box-shadow: 0 0 0 3px #e05200;
  box-shadow: 0 0 0 3px #e05200;
  
}

input[type="radio"].uikit-control-input__input:focus + .uikit-control-input__text:before {
  border-radius: 15px;
}

.uikit-btn:focus {
  outline: none;
  -webkit-box-shadow: 0 0 0 3px #e05200;
  -moz-box-shadow: 0 0 0 3px #e05200;
  box-shadow: 0 0 0 3px #e05200;
  border-radius: 0px;
}

.uikit-control-input__text {
  display: block;
}

.uikit-body a:focus {
  -webkit-box-shadow: 0 0 0 3px #ff8629;
  -moz-box-shadow: 0 0 0 3px #ff8629;
  box-shadow: 0 0 0 3px #ff8629;
  outline: none;
}

.uikit-display-1,
.uikit-display-2,
.uikit-display-3,
.uikit-display-4,
.uikit-display-5,
.uikit-display-6 {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
}