.container {
  margin-bottom: 100px;
}

.link {
  font-size: 17px;
  font-weight: bold;
  color: #202751;
  margin-top: 17px;
  text-decoration: underline;
  cursor: pointer;
}

.stepTitle {
  font-size: 20px;
  color: #777777;
}

.heading {
  font-size: 24px;
  font-weight: bold;
  color: #313131;
  margin-top: 39px;
}

.backLink {
  font-size: 17px;
  font-weight: bold;
  margin-top: 15px;
  cursor: pointer;
  text-decoration: underline;
}

.subTitle {
  margin-top: 48px;
  font-size: 17px;
  font-weight: bold;
  color: #313131;
  margin-bottom: 13px;
}

.radioSection {
  margin-bottom: 18px;
}

.yellowButton {
  height: auto;
  background-color: #f5d815;
  color: #000000;
  text-decoration: none;
  padding-top: 16px;
  padding-bottom: 14px;
  font-weight: normal;
  border-radius: 0px;
}

.yellowButton:hover {
  background-color: #5bcbe3;
}
