.wrapper {
  position: relative;
  box-sizing: border-box;
  max-width: 75em;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 1.6em;
}

.wrapper::after {
  clear: both;
  content: "";
  display: table;
}

.marketplaceHeader {
  position: relative;
  margin-bottom: 0px;
  background-color: #202751;
  color: rgb(255, 255, 255);
  padding: 1.2em 0px;
}

.oramsLogo {
  float: left;
}

.marketplaceHeader .logo {
  padding-bottom: 0px;
  color: rgb(255, 255, 255);
  font-size: 1.625rem;
  letter-spacing: 1px;
  border-bottom: none;
  font-weight: 700;
  line-height: 1.4;
  margin-bottom: 0.4em;
  margin-top: 1.6em;
}

.marketplaceHeader a:focus {
  background-color: white;
  color: #000000;
  -webkit-box-shadow: 0 0 0 3px #ff8629;
  -moz-box-shadow: 0 0 0 3px #ff8629;
  box-shadow: 0 0 0 3px #ff8629;
  outline: none;
}

.marketplaceHeader a:hover {
  background-color: white;
  color: #000000;
  outline: none;
}

.marketplaceHeader a {
  color: rgb(255, 255, 255);
  transition-timing-function: ease-in-out;
  transition-duration: 0.1s;
  transition-property: background-color, border-color, color;
  text-decoration: none;
  outline: none;
  border-bottom: 1px solid #f5d815;
}

.badgeBeta {
  font-weight: 700;
  vertical-align: super;
  background-color: rgb(255, 255, 255);
  color: #202751;
  padding: 0.3em 0.6em;
  display: inline-block;
  line-height: 1;
  letter-spacing: 1px;
  font-size: 0.875rem;
  border-radius: 12px;
  margin-left: 10px;
}

.marketplaceHeader .userNav {
  display: block;
  float: right;
  margin-left: 1.6em;
}

.marketplaceHeader .inlineLinks {
  margin-bottom: 0px;
  padding: 0.1em 0px;
}

.marketplaceHeader .inlineLinks li:not(:last-child) {
  margin-right: 1.3em;
}

.marketplaceHeader .inlineLinks li {
  display: inline-block;
  margin: 0px;
}

.marketplaceHeader .inlineLinks li a {
  padding-bottom: 0.06em;
}

.inlineLinks a {
  color: rgb(255, 255, 255);
}

@media screen and (min-width: 768px) {
  .marketplaceHeader {
      padding-bottom: 1.2em;
  }
}

.subtitle {
  font-size: 18px;
}