@import "../../main.scss";

.oramsHeader {
  position: relative;
  margin-bottom: 0px;
  background-color: #18788d;
  color: rgb(255, 255, 255);
  padding: 1.2em 0px;
}

.oramsHeader .oramsLogo {
  float: left;
}

.oramsHeader .logo {
  padding-bottom: 0px;
  color: rgb(255, 255, 255);
  font-size: 1.625rem;
  letter-spacing: 1px;
  border-bottom: none;
  font-weight: 700;
  line-height: 1.4;
  margin-bottom: 0.4em;
  margin-top: 1.6em;
}

.oramsHeader a:focus {
  background-color: white;
  color: #000000;
  -webkit-box-shadow: 0 0 0 3px #ff8629;
  -moz-box-shadow: 0 0 0 3px #ff8629;
  box-shadow: 0 0 0 3px #ff8629;
  outline: none;
}

.oramsHeader a:hover {
  background-color: white;
  color: #000000;
  outline: none;
}

.oramsHeader a {
  color: rgb(255, 255, 255);
  transition-timing-function: ease-in-out;
  transition-duration: 0.1s;
  transition-property: background-color, border-color, color;
  text-decoration: none;
  outline: none;
  border-bottom: 1px solid rgb(255, 255, 255);
}

.badgeBeta {
  font-weight: 700;
  vertical-align: super;
  background-color: rgb(255, 255, 255);
  color: rgb(24, 120, 141);
  padding: 0.3em 0.6em;
  display: inline-block;
  line-height: 1;
  letter-spacing: 1px;
  font-size: 0.875rem;
  border-radius: 12px;
  margin-left: 10px;
}

.oramsHeader .userNav {
  display: block;
  float: right;
  margin-left: 1.6em;
}

.oramsHeader .inlineLinks {
  margin-bottom: 0px;
  padding: 0.1em 0px;
}

.oramsHeader .inlineLinks li:not(:last-child) {
  margin-right: 1.3em;
}

.oramsHeader .inlineLinks li {
  display: inline-block;
  margin: 0px;
}

.oramsHeader .inlineLinks li a {
  padding-bottom: 0.06em;
}

.inlineLinks a {
  color: rgb(255, 255, 255);
}

@media screen and (min-width: 768px) {
  .oramsHeader {
      padding-bottom: 1.2em;
  }
}
