ul.itemSelectList {
  border: 3px solid gray;
  border-radius: 0px 0px 4px 4px;
  border-top: 0;
  list-style-type: none;
  margin: -2px 0 0 0;
  padding: 0;
  width: 100%;
  
  li {
    padding: 1rem;
  }
}