.itemSelectSummary {
    margin-top: 1.6rem;

    ul {
        list-style-type: none;

        li {
            border-top: 1px solid gray;
            padding: 0.75rem 0;

            &:last-child {
                border-bottom: 1px solid gray;
            }
        }
    }
}