.selectedItemsContainer {
    margin-top: 1.6rem;

    ul.selectedItemsList {
        list-style-type: none;
        padding-left: 0;

        li {
            border-top: 1px solid gray;
            padding: 0.75rem 0;

            &:last-child {
                border-bottom: 1px solid gray;
            }
        }

        a {
            float: right;
        }
    }
}