@import "../../main.scss";

.marketplaceHeader {
  position: relative;
  margin-bottom: 0px;
  background-color: #313131;
  color: rgb(255, 255, 255);
  padding-top: 48px;
  padding-top: 3rem;
  padding-bottom: 0.3em;
  border-bottom: .5rem solid #45c2f0;
}

.marketplaceHeader a:focus {
  outline: 3px solid #C390F9;
  outline-offset: 2px;
  box-shadow: none;
}

.linkList {
  margin-bottom: 8px;
  line-height: 1.5;
}

.linkList a {
  padding: 1rem;
  color: #45c2f0;
  text-decoration: none;
}

.linkList a:hover {
  color: #fff;
  text-decoration: underline;
}

.logo {
  margin-top: 24px;
  margin-top: 1.5rem;
  padding-top: 24px;
  padding-top: 1.5rem;
  font-size: 32px;
  font-size: 2rem;
  line-height: 1;
  color: #fff;
  border-top: solid 1px #a2a2a2;
  display: block;
}

@media screen and (min-width: 768px) {
  .logo {
    padding: 1.8rem 1rem;
    margin-left: 16px;
    margin-left: 1rem;
    font-size: 24px;
    font-size: 1.5rem;
    line-height: 1;
    margin-top: 0;
    margin-bottom: 0;
    border-top: none;
    border-left: solid 1px #a2a2a2;
    vertical-align: middle;
    color: rgb(255, 255, 255);
    text-decoration: none;
    display: inline-block;
  }
}

.logoSectionDesktop a {
  text-decoration: none;
}

.logo:hover {
  text-decoration: underline;
  color: #ffffff;
}

.badgeBeta {
  padding: 2px 8px;
  padding: 2px .5rem;
  margin-left: 8px;
  margin-left: .5rem;
  border: solid 2px #fff;
  border-radius: 2em;
  font-size: 12px;
  font-size: 0.75rem;
  font-weight: normal;
  vertical-align: super;
  text-decoration: none;
}

.inlineLinks a {
  color: rgb(255, 255, 255);
}

.marketplaceHeader .inlineLinks li:not(:last-child) {
  margin-right: 1.3em;
}

.marketplaceHeader .inlineLinks li {
  display: inline-block;
  margin: 0px;
}

.logoGovCrest {
  vertical-align: middle;
  max-width: 14rem;
}

.logoGovCrest svg {
  max-width: 165px;
  vertical-align: middle;
  display: inline-block;
}

.navigation {
  padding-top: 2rem;
}

.marketplaceTitle {
  vertical-align: middle;
}

.userNav {
  text-align: right;
}
