main .sidebar {
  float: left;
  margin: 0 2.04556% 0 0;
}

.actions {
  text-align: right;
}

.actions a {
  display: inline-block;
}
.actions a:first-of-type {
  margin-right: 1em;
}
.stage{
  margin-right: 14px;
  margin-bottom: 10px;
  padding: 3px 6px 3px 6px;
  font-size: 14px;
  border-radius: 2px;
  border: solid 1px #17788d;
  float: left;
}
.full-header {
  background: #f0f3f5;
  padding-top: 1.5em;
}

.full-header h4:first-of-type, .full-header ul {
  margin-top: 0;
}

.full-header > div {
  max-width: 75em;
  margin: 0 auto;
  padding: 0 1.6em;
}
.project ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.tile {
  border: solid 1px rgba(23, 120, 141, 0.5);
  box-shadow: 0 0 5px 0 rgba(187, 187, 187, 0.5);
  padding: 1.5rem 2rem;
  border-radius: 4px;
  text-align: center;
  margin-bottom: 2em;
  background-color: white;
}
.tile .title {
   display: block;
   color: #6e6e6e;
   margin-bottom: 10px;
   font-size: 20px;
 }

.tile b {
  display: block;
  margin-bottom: 20px;
  font-size: 20px;
}

.tile p {
  margin-bottom: 20px;
  font-size: 17px;
}

.tile a[role="button"] {
  color: white;
  width: 100%;
  height: auto;
  margin: 0;
  border-radius: 4px;
}

.center {
  max-width: 75em;
  margin: 0 auto;
  padding: 0 1.6em;
}

.summary {
  font-size: 20px;
}