.brief-choice-container .brief-choice-form a {
  cursor: pointer
}

.brief-choice-container {
  width: 85%;
  float: left;
  margin-left: 15%
}

@media (max-width: 767px) {
  .brief-choice-container {
    margin-left: 0px;
    min-width: 250px
  }
}

.form-radio-container {
  width: 75%;
  padding: 7px;
  margin-top: 15px
}

@media (max-width: 767px) {
  .form-radio-container {
    width: 100%
  }
}

.form-radio-container {
  margin-bottom: 20px;
  padding-top: 5px;
  padding-bottom: 5px
}

.form-radio-container p input {
  margin: 10px
}

.form-radio-container.checked{
  border: 1px solid;
}

.form-radio-container label {
  padding-left: 15px;
  font-weight: normal;
  font-size: 18px;
  margin-top: 0px;
  margin-bottom: 0px
}

.form-radio-container label span {
  vertical-align: 6px
}

.form-radio-container label::before {
  border: 2px solid #313131;
  border-radius: 50%;
  content: '';
  display: inline-block;
  height: 26px;
  text-align: center;
  width: 26px;
  margin-top: 5px;
  margin-right: 15px;
}

.form-radio-container.checked label::before {
  background-color: #313131;
  border: 3px solid white;
  box-shadow: 0 0 0 2px black;
  height: 26px;
  width: 26px
}

.form-radio-container.checked label span {
  font-weight: bold
}

.form-submit-button {
  margin-right: 0px
}

.form-submit-button.disabled {
  cursor: not-allowed
}

.format-radio-box {
  padding: 0
}

.form-radio-container input[type='radio'] {
  height: 1px;
    left: -10000px;
    position: absolute;
    visibility: visible;
}

.form-radio-container p {
  padding: 0px 0px 10px 42px;
  margin-bottom: 0px
}


