.brief-choice-container .brief-choice-form a {
  cursor: pointer
}

.brief-choice-container {
  width: 75%;
  float: left;
  margin-left: 20%
}

.brief-choice-container p {
  font-size: 17px
}

.form-radio-container {
  width: 75%;
  padding: 7px;
  margin-top: 15px
}

.form-radio-container p {
  border: 1px solid;
}

.form-radio-container p input {
  margin: 10px
}

.form-radio-container.checked{
  border: 1px solid;
}

.form-label {
  padding-left: 15px;
  font-weight: bold;
  font-size: 13px
}

.form-submit-button {
  margin-right: 0px
}

.format-radio-box {
  padding: 0
}

.form-radio-container input[type='radio'] {
  height: 1px;
    left: -10000px;
    position: absolute;
    visibility: visible;
    /*width: 1px;
    outline-offset: 0;
    border: 2px solid #bebebe;
    border-radius: 0;
    background-color: #fff;
    padding: .4em;
    box-sizing: border-box;*/
}

