.container {
  margin-bottom: 100px;
}

.link {
  font-size: 17px;
  font-weight: bold;
  color: #202751;
  margin-top: 17px;
  text-decoration: underline;
  cursor: pointer;
}

.stepTitle {
  font-size: 20px;
  color: #777777;
}

.heading {
  font-size: 24px;
  font-weight: bold;
  color: #313131;
  margin-top: 39px;
}

.categoryTitle {
  font-size: 20px;
  font-weight: bold;
  color: #313131;
  margin-top: 40px;
}
