.uikit-display-3 {
    margin-top: 1.6em;
    font-weight: normal;
    font-family: "Open Sans",Verdana,"Bitstream Vera Sans",sans-serif;
    color: #313131;
    display: block;
    line-height: 1.4;
    margin: 0 0 .5em 0;
    font-size: 24px;
    text-align: center;
    padding-bottom: 20px;
}
.push {
    text-align: center;
    background: #f0f3f5;
    padding: 16px 16px 24px 16px;
    float: none;
    max-width: 75em;
    margin: 0 auto;
    padding: 0 1.6em;
}
.pop {
    font-size: 24px;
    color: #18788d;
    padding-right: 6px;
}

.tile {
    border: 1px solid #bebebe;
}

.stage{
    margin-right: 14px;
    margin-bottom: 10px;
    padding: 3px 6px 3px 6px;
    font-size: 14px;
    border-radius: 2px;
    border: solid 1px #17788d;
    float: left;
}
@media only screen and (min-device-width: 768px) {
    .chart {
        background: #e0e3e5;
        margin-bottom: 24px;
    }
    .chart span {
        border-radius: 5px;
    }
    .chartContainer {
        width: 75%;
        margin-left: 12.5%;
    }

}
.push {
    text-align: center;
    background: #f0f3f5;
    padding: 16px 16px 24px 16px;
    float: none;
}
.chart {
    padding: 4px 5px;
    width: 100%;
    display: block;
    margin-bottom: 5px;
}
.chart:link, .chart:visited, .chart:active {
    color: white;
}
.chart span {
    background: #17788d;
    padding: 7px 10px;
    display: block;
    border: solid 1px #224a61;
}
.chart:hover span, .chart:focus span {
    background: #def4f9;
    color: black;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);
}