.uikit-display-3 {
    margin-top: 1.6em;
    font-weight: normal;
    font-family: "Open Sans", Verdana, "Bitstream Vera Sans", sans-serif;
    color: #313131;
    display: block;
    line-height: 1.4;
    font-size: 24px;
    text-align: center;
    padding-bottom: 48px;
    margin-left: auto;
    margin-right: auto;
    max-width: 82%
}

.push {
    text-align: center;
    background: #f0f3f5;
    padding: 16px 16px 24px 16px;
    float: none;
    max-width: 75em;
    margin: 0 auto;
    padding: 0 1.6em;
}

.pop {
    font-size: 24px;
    color: #18788d;
    padding-right: 6px;
}

.tile {
    border: 1px solid #bebebe;
}

.day {
    text-align: center;
}

.fund {
    text-align: center;
}

.map {
    width: 100%;
    min-height: 350px;
    left: 0;
    text-align: center;
}
.map img {
    width: 50%;
    display: inline-block;
}
.push {
    text-align: center;
    background: #f0f3f5;
    padding: 16px 16px 24px 16px;
    float: none;
}

.cardList {
    list-style-type: none;
    padding: 0;
}

.cardList li {
    border: 1px solid #bebebe;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1);
    padding: 0;
}

.cardList li article {
    padding: 10px;
    height: 52%;
    display: flex;
    flex-direction: column;
}

.cardList li article p {
    color: #717171;
    font-size: 87.5%;
    margin-bottom: auto;
}

.stage {
    margin-right: 14px;
    margin-bottom: 10px;
    padding: 3px 6px 3px 6px;
    font-size: 14px;
    border-radius: 2px;
    border: solid 1px #17788d;
    float: left;
    margin-top: auto;
}

@media only screen and (max-device-width: 768px) {
    .title {
        font-size: 28px;
    }

    .uikit-display-3 {
        font-size: 18px;
    }

    .cardList {
        margin-bottom: 0;
        display: block;
    }

    .cardList img {
        height: auto;
    }

    .cardList > li {
        width: 262px;
        margin: auto;
        flex: none;
        margin-bottom: 1.5em;
    }

    .day {
        text-align: center;
        width: 100%;
    }

    .day span {
        display: inline !important;
        font-size: initial !important;
    }

    .calendarColOne {
        padding-bottom: 0 !important;
    }

    .calendarColTwo {
        border-top: 0px !important;
        padding-top: 0px !important;
        margin-top: -22px !important;
    }
}

@media only screen and (min-device-width: 768px) {
    .chart {
        background: #e0e3e5;
        margin-bottom: 24px;
    }

    .chart span {
        border-radius: 5px;
    }

    .chartContainer {
        width: 75%;
        margin-left: 12.5%;

        padding-bottom: 24px;
    }

    .cardList {
        display: block;
        width: 87%;
        margin: 0 auto;
    }

    .cardList h3 {
        margin-top: 5px;
    }

    .cardList img {
        height: auto;
    }

    .cardList li {
        width: 262px;
        display: inline-block;
        margin-right: 73px;
        height: 320px;
        float: left;
        margin-top: 20px;
    }

    .becomeASeller {
        border-left: 2px solid #bebebe;
    }

    .becomeASeller div {
        margin-left: 30px;
    }

    .mapOverlay {
        float: right;
        margin-top: 80px;
        margin-right: 50px;
    }

    .fund {
        width: 100%;
        margin: auto;
        float: none;
    }

    .fund p {
        max-width: 82%;
        margin: auto;
        margin-bottom: 24px;
    }

    .partners {
        max-width: 68%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .cardList {
        width: 108%
    }
    .map {
        height: 250px;
    }
    .mapOverlay {
        width: 250px;
        margin-top: 0;
        margin-right: 0;
    }
    .mapOverlay span {
        display: block;
    }

    .mapOverlay div {
        padding-top: 0;
    }

    .mapOverlay span div {
        display: inline-block;
        width: 178px;
        text-align: left;
    }

    .pop {
        height: 50px;
        vertical-align: middle;
    }

    .becomeASeller {
        border-left: none;
    }

    .becomeASeller div {
        margin-left: 0px;
    }

    .mapSpacer {
        height: 350px;
    }

    .day {
        text-align: center;
        width: 100%;
    }

    .day span {
        font-size: 1.75rem !important;
        display: block !important;
    }

    .calendarColOne {
        padding-bottom: 0 !important;
        flex-basis: 100% !important;
    }

    .calendarColTwo {
        border-top: 0px !important;
        padding-top: 0px !important;
        margin-top: -22px !important;
        flex-basis: 100% !important;
    }
}
@media only screen and (max-device-width: 767px) {
    .map img {
        width: 100%;
    }

    .mapOverlay {
        width: 100%;
    }
}

.chart {
    padding: 4px 5px;
    width: 100%;
    display: block;
    margin-bottom: 5px;
}

.chart:link, .chart:visited, .chart:active {
    color: white;
}

.chart span {
    background: #17788d;
    padding: 7px 10px;
    display: block;
    border: solid 1px #224a61;
}

.chart:hover span, .chart:focus span {
    background: #def4f9;
    color: black;
    text-decoration-color: black;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);
}

