.briefOverviewSectionLinks {
  margin-left: 3.1rem;
}

.briefOverviewSectionListToggle {
  margin-left: 0.4rem;
}

.hidden {
  display: none;
}

// use button selector? will this change global styles? check styles imported in head
.linkListToggle {
  background-color: transparent;
  border-bottom: solid 0.0625rem #1B7991;
  // border-color: transparent;
  border-left: transparent;
  border-right: transparent;
  border-top: transparent;
  color: #313131;
  font-size: 1rem;
  margin-left: 0.4rem;
  padding: 0;
  // text-decoration: underline;
  transition: background-color 0.1s ease-in-out, border-color 0.1s ease-in-out;
}

button:hover {
  background-color: #5BCBE3;
  border-color: transparent;
}