h2 {
  display: inline;
}

.briefOverviewSection {
  border-bottom: 0.0625rem solid #BEBEBE;
  padding-bottom: 1.6rem;
}

.briefOverviewSectionNumber {
  margin-right: 2rem;
}

.briefOverviewSectionStatus {
  position: absolute;
  right: 0.75rem;
}