.notsubmitted {
  opacity: 0.7;
}

a.deleteLink, a.deleteLink:hover {
  color: #FF0000;
}

div.deleteAlert {
  margin-top: 1.5rem;

  button {
    margin-right: 1.5rem;
    margin-top: 0.75rem;
  }
}

table.resultListing {
  border-collapse: collapse;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

table.resultListing tr {
  border-bottom: solid 1px #bebebe;
  color: #313131;
}

table.resultListing .colName {
  width: 500px;
  padding-left: 20px;
}

table.resultListing .colDate {
  width: 200px;
}

table.resultListing .colAction {
  width: 250px;
}

table.resultListing .colAction a {
  margin-right: 15px;
  white-space: nowrap;
}

table.resultListing td, table.resultListing th {
  text-align: left;
  padding: 20px 40px 20px 0px;
  box-sizing: content-box;
}

.showSmall {
  display: none;
}

@media (max-width: 1195px) and (min-width: 900px) {
  table.resultListing td, table.resultListing th {
    padding: 20px 30px 20px 0px;
  }
}

@media (max-width: 899px) {
  .header, table.resultListing {
    margin-bottom: 20px;
  }

  .showSmall {
    display: inline-block;
  }

  table.resultListing thead, table.resultListing .empty, .hideSmall {
    display: none;
  }

  table.resultListing .colName {
    padding-left: 5px;
    max-width: 650px;
  }

  table.resultListing tr {
    display: block;
    padding: 15px 0px;
  }

  table.resultListing td {
    display: block;
    padding: 5px;
  }

  table.resultListing .colName, table.resultListing .colAction {
    width: auto;
  }
}