.placeHolder {
  opacity: 0.7;
  font-style: italic;
}

.lighter {
  opacity: 0.7;
}

a.deleteLink, a.deleteLink:hover {
  color: #FF0000;
}

.colAction a {
  margin-right: 15px;
  white-space: nowrap;
}