.tableTitle {
  margin-top: 50px;
  border-bottom: 1px solid #bebebe;
  padding-bottom: 22px;
  margin-bottom: 0px;
}

.specialist {
  padding-top: 21px;
  padding-bottom: 22px;
  border-bottom: 1px solid #bebebe;
}

.link {
  float: right;
}
