.reportSubitemContainer {
  padding: 0px !important;
  margin-bottom: 2em !important
}

.reportImageContainer {
  height: 100%;
  width:  100%
}

.reportItem {
  padding: 0px;
  min-width: 290px
}

@media (max-width: 767px) {
  .reportItem {
    text-align: center
  }
  .reportItemHeading {
    text-align: center;
    margin: 0 auto
  }
}

.reportItemHeading {
  padding: 20px 0px;
  color: #224a61;
  font-weight: bold;
}

.reportItemText {
  font-size: 1em
}

.reportItemImage {
  display: block;
  margin-right: 0px !important
}

@media(max-width: 767px) {
  .reportItemImage {
    max-width: 328px;
    text-align: center;
    margin: 0 auto
  }
}

@media (min-width: 768px) {
  .reportItemImage {
    height: 91%;
    width: 91%
  }
}

.reportFormattedQuoteImage {
  background-color: #17788d;
  padding: 12px 24px 
}

.subitemImg {
  width: 300px;
  height: 300px
}

.reportImage {
  width: 100%
}
