.hide {
  display:none;
}
@font-face {
  font-family: system;
  font-style: normal;
  font-weight: 300;
  src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"), local("Roboto-Light"), local("DroidSans"), local("Tahoma");
}

.reportView {
  width: 100%;
  margin: 0 auto
}

@media (max-width: 767px) {
  .reportView {
    max-width: 320px
  }
  .reportViewHeading {
    text-align: center;
    margin: 0 auto
  }
}

@media (min-width: 768px) {
  .reportView {
    max-width: 737px;
    margin: 0 auto
  }
}

.reportViewTitle {
  font-weight: bold
}

.reportViewDate {
  font-weight: lighter
}

.reportViewHeading {
  padding: 48px 0px 20px 0px;
  color: #224a61;
  font-weight: bold;
}