.noticeBar {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    border-left: 10px solid #00698F;
    background-color: #daf3fe;
    color: #00698F;
  }
  
.additionalInformationContainer {
  .verticalMargin {
    margin-bottom: 2.5rem;
  }

  .fullWidth {
    max-width: 100%;
  }

  .removeTopMargin {
    margin-top: 0rem;
  }
}