.formats label {
  margin-top: 1.5rem;
  width: 100%;
}

.noticeBar {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  border-left: 10px solid #00698F;
  background-color: #daf3fe;
  color: #00698F;
}

.maxRate {
  margin-bottom: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}
