.appList h2 {
    font-size: 2rem;
    margin: 1rem 0rem;
}

.appList table {
    margin-left: 0;
    border-collapse: collapse;
    border-spacing: 0;
}

.appList tr {
    line-height: 2.5rem;
}

.appList td, .appList th {
    padding: 0.1rem 0 0.1rem 0;
    margin: 0;
    white-space: nowrap;
}

.appList th {
    text-align: left
}

.appList table a.application {
    margin: 0 0.1rem;
    padding: 0.5rem 0.5rem;
    border: none;
    text-overflow: ellipsis;
    width: 500px;
    display: block;
    overflow: hidden;
}

.appList button {
    display: inline-block;
    font-size: 1.1rem;
    margin: 0 0.1rem;
    padding: 0 0.1rem;
    border: none;
}

.action {
    margin: 0.5em;
}

.revert {
    background: orange;
}

.to-do, .in-progress, .done {
    color: white;
    font-size: 0.8rem;
    display: inline-block;
    padding: 0.5rem 0.5rem;
    margin: 0 0.1rem;
}

.to-do {
    background: #FF6961;
}

.in-progress {
    background: #FFB347;
}

.done {
    background: #77DD77;
}

.callout--info {
    margin: 1.6em 0;
    box-shadow: none;
    background-color: #e8f5fa;
    padding: 5px
}

.callout--info h4 {
    text-align: center;
    margin-top: 10px
}

.callout--warning {
    margin: 1.6em 0;
    box-shadow: none;
    background-color: rgba(255, 0, 0, 0.1);
    padding: 5px
}

.callout--warning h4 {
    text-align: center;
    margin-top: 10px
}
.keyword_desc {
    font-size: 14px;
}