.nav-row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.nav-button {
	flex: 1 0 15rem;
}

.nav-link {
	align-self: center;
	font-size: 1.2rem;
}

@media (max-width: 767px) {
	.skip-link {
		margin-top: 1rem;
	}
}

@media (min-width: 767px) {
	.skip-button {
		margin-top: 1rem;
	}
}