a.change {
  float: right;
  font-weight: 400;
  font-size: 1rem;
}

.reviewText {
  white-space: pre-wrap;
}

.spacer {
  width: 100%;
  background-color: #bebebe;
  border: 1px solid #bebebe;
  margin: 3rem 0;
}