%base-link-icon--after {
    content: '';
    position: absolute;
    display: inline;
    background-repeat: no-repeat;
    border-bottom: 1px solid transparent;
  }
  
  @mixin link-colours($text-colour, $hover-bg-colour, $hover-text-colour: $text-colour) {
    $link-disabled-color: rgba($text-colour, 0.5);
    color: $text-colour;
  
    a {
      color: $text-colour;
      text-decoration: none;
      outline: none;
      border-bottom: solid 1px $hover-bg-colour;
      transition-timing-function: $transition-easing;
      transition-duration: $transition-timing-fast;
      transition-property: background-color, border-color, color;
  
      &[rel~='external'] {
        display: inline;
        position: relative;
        margin-right: $base-spacing;
  
        &::after {
          @extend %icon-external-link--aqua;
          @extend %base-link-icon--after;
  
          background-size: (0.75 * $medium-spacing) auto;
        }
      }
    }
  }

@mixin inline-background-image($img) {
    background-image: url('src/shared/icons' + $img + '.png');
    background-image: none, url('src/shared/icons' + $img + '.svg'),
    linear-gradient(transparent, transparent);
  }

// Specific functions
%icon-external-link--aqua {
    @include inline-background-image('external-link--aqua');
  }

  .icon a[rel~=external]::after  {
    display: inline-block;
    background-image: url(/src/shared/icons/external-link--aqua.png);
    // @include link-colours($non-black, $light-aqua, $non-black);
    // @include inline-background-image('external-link--aqua');
  }