p.criteriaText {
  font-size: 1.25rem;
}

div.evidenceDates {
  margin-top: 1.5rem;

  div {
    display: inline-block;
  }

  strong {
    display: block;
  }

  select {
    margin-right: 1.5rem;
    margin-bottom: 1.5rem;
  }
}