.govau--header {
  color: #fff;
  position: relative;
  padding: 1.2em 0 4.8em;
  padding-bottom: 1.2em;
  margin-bottom: 0;
  background-color: #224a61;
  color: #fff;
}

.govau--header {
  background-color: #152d3b;
  background-image: linear-gradient(to left,#146577, #152d3b);
  padding: 0.8em 0;
}

@media screen and (min-width: 768px) {
  .govau--header {
    padding-bottom: 1.2em;
  }
}

.govau--header .govau--logo {
  float: left;
}

@media screen and (min-width: 768px) {
  .govau--header .govau--logo {
    padding-bottom: 0;
  }
}

.govau--header .logo {
  font-size: 1.12rem;
  font-weight: 400;
  padding-bottom: 2px;
  border-bottom: 0;
  color: #fff;
  font-family: "Open Sans", Verdana, "Bitstream Vera Sans", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.govau--header [class^='badge'] {
  vertical-align: text-bottom;
  margin-left: 0.4em;
}