.govau--header {
  color: #fff;
  position: relative;
  padding: 1.2em 0 4.8em;
  padding-bottom: 1.2em;
  margin-bottom: 0;
  background-color: #224a61;
  color: #fff;
}

.govau--header {
  background-color: #152d3b;
  background-image: linear-gradient(to left,#146577, #152d3b);
  padding: 0.8em 0;
}

.govau--header a {
  color: #fff;
  text-decoration: none;
  outline: none;
  border-bottom: solid 1px #fff;
  transition-timing-function: ease-in-out;
  transition-duration: 0.1s;
  transition-property: background-color, border-color, color;
}

.govau--header a:hover, .govau--header a:focus {
  background-color: #fff;
  color: #313131;
}

.govau--header a[rel~='external'] {
  display: inline;
  position: relative;
  margin-right: 1.6em;
}

.govau--header a[rel~='external']:hover {
  border-color: transparent;
}

.govau--header a[rel~='external']::after {
  background-size: 0.9em auto;
}

.govau--header a.see-more {
  display: inline-block;
  position: relative;
  margin-right: 1.6em;
  font-weight: 700;
  color: #18788d;
}

.govau--header a.see-more::after {
  content: '';
  position: absolute;
  top: 0;
  right: -1.2em;
  display: block;
  width: 1.2em;
  height: 1.2em;
  background-repeat: no-repeat;
  background-position: right 0.4em;
  background-size: 0.64em auto;
}

.govau--header a.see-more:hover, .govau--header a.see-more:focus {
  color: #313131;
}

@media screen and (min-width: 768px) {
  .govau--header {
    padding-bottom: 1.2em;
  }
}

.govau--header .govau--logo {
  float: left;
}

@media screen and (min-width: 768px) {
  .govau--header .govau--logo {
    padding-bottom: 0;
  }
}

.govau--header .logo {
  font-size: 1.12rem;
  font-weight: 400;
  padding-bottom: 2px;
  border-bottom: 0;
  color: #fff;
  font-family: "Open Sans", Verdana, "Bitstream Vera Sans", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.govau--header [class^='badge'] {
  vertical-align: text-bottom;
  margin-left: 0.4em;
}