.understandColour {
  background-color: #ff635c;
  border-color: #ff635c;
}

.masterAgreementFrame {
  width: 100%;
  height: 25rem;
  overflow: auto;
  border-style: inset;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
