.understandColour {
  background-color: #D50001;
  border-color: #D50001;
}

.masterAgreementFrame {
  width: 100%;
  height: 25rem;
  overflow: auto;
  border-style: inset;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
