.organisation {
  opacity: 0.6;
}

div.details {
  margin-top: 3rem;
}

div.details > div {
  margin-bottom: 0.75rem;
}

.newLines {
  white-space: pre-line;
}

.previewNotice {
  padding: 1.5rem;
  border-left: 10px solid #006392;
  background-color: #daf3fe;
  margin-bottom: 1.5rem;
  position: relative;
}

.publishBtn {
  position: absolute;
  right: 0.75rem;
  top: 0.75rem;
}