.organisation {
  opacity: 0.6;
}

div.details {
  margin-top: 3rem;
}

div.details > div {
  margin-bottom: 0.75rem;
}

.newLines {
  white-space: pre-line;
}

.previewNotice {
  padding: 1.5rem;
  border-left: 10px solid #006392;
  background-color: #daf3fe;
  margin-bottom: 3rem;
}

.previewNotice .previewButtons {
  text-align: right;
}

.publishBtn:last-child {
  margin-left: 1.5rem;
}

ul.subList {
  margin-bottom: 1.5rem;
}