.center {
  max-width: 75em;
  margin: 0 auto;
  padding: 0 1.6em;
}

.uikit-display-4 {
  font-family: -apple-system, system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 18px;
  font-weight: 700;
  height: 25px;
  line-height: 25.2px;
  margin-bottom: 7.2px;
  margin-top: 0px;
}