.details {
  margin: 0;
}

.details summary {
  background-color: transparent;
  padding: 0;
  border-bottom: solid 1px #5bcbe3;
  color: #313131;
  font-weight: normal;
  display: inline-block;
  width: auto;
}

.details summary:hover {
  background-color: #5bcbe3;
  color: #313131;  
}

.details summary::before {
  background-image: none;
}