.headerTitle {
  margin-top: -5px;
}

.inputGroup {
  margin-bottom: 1.5rem;
}

@media screen and (min-width: 992px) {
  .header {
    margin-top: 30px;
    margin-bottom: 40px;
  }
}

.headingRow {
  font-weight: bold;
  color: #202751;
  border-bottom: solid 3px #142d3c;
}

.headingRow .cell {
  padding-bottom: 10px;
}

.tableRow {
  border-bottom: solid 1px #bebebe;
  color: #313131;
}

.tableRowMobile {
  border-bottom: solid 1px #bebebe;
  color: #313131;
}

.mobileColumn {
  padding-top: 28px;
  padding-bottom: 24px;
}

.firstColumn {
  margin-left: 16px;
}

.cell.lastColumn {
  padding-right: 0px;
}

.tableRow:nth-child(odd) {
  background-color: #fafafa;
}

.tableRowMobile:nth-child(even) {
  background-color: #fafafa;
}

.cell {
  padding: 33px 16px 32px 16px;
}

.badge {
  border-radius: 100px;
  color: #313131;
  padding: 2px 12px;
  width: fit-content;
  margin: 0 auto;
}

.badgeMobile {
  border-radius: 100px;
  color: #313131;
  padding: 2px 12px;
  width: fit-content;
}

.green {
  background-color: #e6efc2;
}

.blue {
  background-color: #e8f5fa;
}

.alignCenter {
  text-align: center;
}

.filtersSection {
  text-align: right;
}

.filtersSectionMobile {
  float: right;
}

@media screen and (max-width: 767px) {
  .filtersSectionMobile {
    margin-top: 32px;
  }
}

.firstFilter {
  border-left: solid 3px #e0e0e0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.lastFilter {
  border-right: solid 3px #e0e0e0;
  margin-left: -1px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.checkbox {
  margin-top: 15px;
}

.applyFilters {
  float: right;
}

.applyFilters a {
  color: #00698f;
  text-decoration: none;
  font-weight: bold;
}

.applyFilters a:hover {
  color: #00698f;
  text-decoration: underline;
}

.cancelLink a:hover {
  text-decoration: underline;
}

.cancelLink a {
  color: #313131;
  font-weight: bold;
  text-decoration: none;
}

@media screen and (max-width: 991px) {
  .hideMobile {
    display: none;
  }
}

@media screen and (min-width: 992px) {
  .hideDesktop {
    display: none;
  }
}

.mobileName a {
  color: #00698f;
  font-weight: bold;
}

.mobileName {
  padding-top: 16px;
  padding-bottom: 5px;
}

.companyMobile {
  padding-bottom: 12px;
}

.pageLeft {
  text-align: left;
  margin-top: 30px;
}

.pageLeft .pageSummary {
  margin-left: 1.2rem;
}

.pageRight {
  text-align: right;
  margin-top: 30px;
}

.pageRight .pageSummary {
  margin-right: 1.1rem;
}

.pageSummary {
  font-size: 0.85rem;
  opacity: 0.6;
}
