.tableDesktop {
  font-size: 17px;
}

.headerTitle {
  margin-top: -5px;
}

@media screen and (min-width: 992px) {
  .header {
    margin-top: 30px;
    margin-bottom: 40px;
  }
}

.headingRow {
  font-weight: bold;
  color: #202751;
  border-bottom: solid 3px #142d3c !important;
}

.headingRow .cell {
  padding-bottom: 10px !important;
}

.tableRow {
  border-bottom: solid 1px #bebebe;
  color: #313131;
}

.tableRowMobile {
  border-bottom: solid 1px #bebebe;
  color: #313131;
}

.mobileColumn {
  padding-top: 28px;
  padding-bottom: 24px;
}

.firstColumn {
  margin-left: 16px;
}

.lastColumn {
  padding-right: 0px !important;
}

.tableRow:nth-child(odd) {
  background-color: #fafafa;
}

.tableRowMobile:nth-child(even) {
  background-color: #fafafa;
}

.cell {
  padding: 33px 16px 32px 16px;
}

.badge {
  border-radius: 100px;
  color: #313131;
  padding: 2px 12px;
  width: fit-content;
  margin: 0 auto;
}

.badgeMobile {
  font-size: 14px;
  border-radius: 100px;
  color: #313131;
  padding: 2px 12px;
  width: fit-content;
}

.green {
  background-color: #e6efc2;
}

.blue {
  background-color: #e8f5fa;
}

.alignCenter {
  text-align: center;
}

.filtersSection {
  text-align: right;
}

.filtersSectionMobile {
  float: right;
}

@media screen and (max-width: 767px) {
  .filtersSectionMobile {
    margin-top: 32px;
  }
}

.filterContainer {
  margin: 0 !important;
}

.filter {
  border-right: solid 2px #e0e0e0;
  border-left: solid 2px #e0e0e0;
  border-top: solid 3px #e0e0e0;
  border-bottom: solid 3px #e0e0e0;
  text-decoration: none !important;
  color: #313131 !important;
  padding: 8px 16px 10px 16px;
}

a:hover.filter, a.filter.active {
  outline: solid 3px #45c2f0;
  outline-offset: -3px;
  color: #00698f !important;
}

.firstFilter {
  border-left: solid 3px #e0e0e0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.lastFilter {
  border-right: solid 3px #e0e0e0;
  margin-left: -1px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.inputGroup {
  margin-bottom: 37px;
}

.checkbox {
  margin-top: 15px;
}

.applyFilters {
  float: right;
}

.applyFilters a {
  color: #00698f;
  text-decoration: none;
  font-weight: bold;
}

.applyFilters a:hover {
  color: #00698f;
  text-decoration: underline;
}

.cancelLink a:hover {
  text-decoration: underline;
}

.cancelLink a {
  color: #313131;
  font-weight: bold;
  text-decoration: none;
}

@media screen and (max-width: 991px) {
  .hideMobile {
    display: none;
  }
}

@media screen and (min-width: 992px) {
  .hideDesktop {
    display: none;
  }
}

.mobileName a {
  color: #00698f;
  font-size: 17px;
  font-weight: bold;
}

.mobileName {
  padding-top: 16px;
  padding-bottom: 5px;
}

.companyMobile {
  padding-bottom: 12px;
}

.mobileDetails, .companyMobile {
  font-size: 14px;
}
