.container {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
}

.container div {
  align-self: flex-start;
}

.container div:first-child {
  flex: 1 1 0;
  align-self: center;
}

.container p {
  max-width: none;
}