.card {
  background-color: #ffffff;
  box-shadow: 0 0 5px 0 rgba(187, 187, 187, 0.5);
  border: solid 1px #bbbbbb;
  margin-bottom: 1.5rem;
}

.card > article {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem 1.4rem 1rem 1.4rem;
}

.card h4 {
  margin: 0 0 0.75rem;
}

.card h4 span {
  border-bottom: solid 1px #5bcbe3;
}

.card h3 {
  margin: 0 0 0.75rem;
}

.card h3 span {
  border-bottom: solid 1px #5bcbe3;
}

.card h3, .card div, .card p {
  flex: 0 0 100%;
}

.badges {
  order: -1;
}

.services {
  padding: 0px 13px 10px 1.4rem;
  overflow: auto;
}

.services span {
  margin-right: 14px;
  margin-bottom: 10px;
  padding: 3px 6px 3px 6px;
  font-size: 14px;
  border-radius: 2px;
  border: solid 1px #17788d;
  float: left;
}

.description {
  margin: 0;
}

.product-links {
  max-width: 400px;
  font-size: 16px;
  line-height: 1.7;
  padding: 15px 0px 15px 0px;
}

.product-link-item {
  color: #17657a;
  margin-right: 65px !important;
}

.author {
  font-size: 14px;
  width: 650px;
  height: 25.2px;
  margin-bottom: 10px;
}

.author > a {
  font-size: 14px;
  line-height: 1.58;
  text-align: left;
  color: #6e6e6e !important;
}

.uikit-body mark {
  background-color: rgba(250,194,102,0.5)
}