.fields {
    display: inline-block;
    width: 4rem;
    margin-top: 0;
    margin-right: 0.5rem;
}

.slashSpacer {
  width:2rem;
  display: inline-block;
  text-align: center;
}

.date-input input {
    margin-right: 1em;
    width: 4em;
}

.flush {
    margin: 0!important;
}

.date-input input#day {
    width: 3em;
}

.date-input input#month {
    width: 4em;
}

.date-input input#year {
    width: 4.1em;
}

.date-heading {
  font-weight: normal;
}
