.wrapper {
  position: relative;
  box-sizing: border-box;
  max-width: 75em;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 1.6em;
}

.wrapper::after {
  clear: both;
  content: "";
  display: table;
}

.space-right {
  margin-right: 1rem;
}

.right-aligned-block {
  display: block;
  text-align: right;
}

.sub-text {
  color: #717171;
}
