.margin-bottom {
  margin-bottom: 1rem;
}

.margin-bottom-2x {
  margin-bottom: 2rem;
}

.margin-bottom-3x {
  margin-bottom: 3rem;
}

.margin-bottom-4x {
  margin-bottom: 4rem;
}

.margin-bottom-5x {
  margin-bottom: 5rem;
}

.margin-right {
  margin-right: 1rem;
}

.margin-top {
  margin-top: 1rem;
}

.margin-top-2x {
  margin-top: 2rem;
}

.margin-top-3x {
  margin-top: 3rem;
}

@media print { 
  .no-print, .no-print * {
    display: none !important;
  }

  .no-print-container {
    width: 100% !important;
  }
}

.right-aligned-block {
  display: block;
  text-align: right;
}

.sub-text {
  color: #717171;
}

.wrapper {
  position: relative;
  box-sizing: border-box;
  max-width: 75em;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 1.6em;
}

.wrapper::after {
  clear: both;
  content: "";
  display: table;
}