.block {
  display: block;
}

.bold {
  font-weight: bold;
}

.bottomLinearGradient {
  position: relative;

  &::after {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 10.26%, #FFFFFF 115.38%);
    bottom: 0;  
    content: "";
    display: block;
    height: 100%;
    pointer-events: none;
    position: absolute;
    width: 100%;
  }
}

.greyBorderBottom1 {
  border-bottom: 1px solid #979797;
}

.greyBorderTop1 {
  border-top: 1px solid #979797;
}

.floatRight {
  float: right;
}

.fontSizeLg {
  font-size: 1.5rem;
}

.fontSizeMd {
  font-size: 1.25rem;
}

.hidden {
  display: none;
}

.inlineBlock {
  display: inline-block;
}

.pageAlert {
  margin-top: 1.5rem;

  .border0 {
    border: 0;
  }

  .noMaxWidth {
    max-width: none;
  }

  .padding0 {
    padding: 0;
  }
}

.fullWidthPageAlert {
  .noMaxWidth {
    max-width: none;
  }
}

.infoCardBody {
  .noMarginTop {
    margin-top: 0;
  }
}

.marginBottom0 {
  margin-bottom: 0;
}

.marginBottom1 {
  margin-bottom: 1rem;
}

.marginBottom2 {
  margin-bottom: 2rem;
}

.marginBottom3 {
  margin-bottom: 3rem;
}

.marginBottom4 {
  margin-bottom: 4rem;
}

.marginBottom5 {
  margin-bottom: 5rem;
}

.marginLeft1 {
  margin-left: 1rem;
}

.marginLeft2 {
  margin-left: 2rem;
}

.marginRight1 {
  margin-right: 1rem;
}

.marginRight2 {
  margin-right: 2rem;
}

.marginTop0 {
  margin-top: 0;
}

.marginTop1 {
  margin-top: 1rem;
}

.marginTop2 {
  margin-top: 2rem;
}

.marginTop3 {
  margin-top: 3rem;
}

.maxHeight1 {
  max-height: 1rem;
}

.maxHeight2 {
  max-height: 2rem;
}

.maxHeight3 {
  max-height: 3rem;
}

.maxHeight4Half {
  max-height: 4.5rem;
}

.overflowHidden {
  overflow: hidden;
}

.paddingBottom1 {
  padding-bottom: 1rem;
}

.paddingBottom2 {
  padding-bottom: 2rem;
}

.paddingLeft0 {
  padding-left: 0;
}

.paddingLeft1 {
  padding-left: 1rem;
}

.paddingLeft2 {
  padding-left: 2rem;
}

.paddingRight1 {
  padding-right: 1rem;
}

.paddingRight2 {
  padding-right: 2rem;
}

.paddingTop1 {
  padding-top: 1rem;
}

.whiteSpacePreWrap {
  white-space: pre-wrap;
}

@media screen and (max-width: 767px) {
  .hideMobile {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .hideDesktop {
    display: none;
  }
}

@media print { 
  .noPrint, .noPrint * {
    display: none !important;
  }

  .noPrintContainer {
    width: 100% !important;
  }
}

.inlineBlock {
  display: inline-block;
}

.rightAlignedBlock {
  display: block;
  text-align: right;
}

.darkGrayText {
  color: #717171;
}

.red, .red a {
  color: #FF0000;
}

.green, .green a {
  color: #00AC78;
}

@media screen and (max-width: 767px) {
  .hideMobile {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .hideDesktop {
    display: none;
  }
}

@media (max-width: 899px) {
  .textAlignCenterSm {
    text-align: center;

    & div {
      display: inline-block;
    }
  }

  .textAlignLeftSm {
    text-align: left;
  }

  .textAlignRightSm {
    text-align: right;
  }
}

@media (min-width: 900px) {
  .textAlignCenter {
    text-align: center;

    & div {
      display: inline-block;
    }
  }

  .textVerticalAlignTop {
    vertical-align: top;
  }

  .textAlignLeft {
    text-align: left;
  }

  .textAlignRight {
    text-align: right;
  }
}

.wrapper {
  position: relative;
  box-sizing: border-box;
  max-width: 75em;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 1.6em;
}

.wrapper::after {
  clear: both;
  content: "";
  display: table;
}


table.defaultStyle {
  border-collapse: collapse;

  & tr {
    border-bottom: solid 1px #bebebe;
    color: #313131;

    & ul {
      padding-left: inherit;
    }

    &.borderBottom0 {
      border-bottom: none;
    }

    &.borderTop1 {
      border-top: solid 1px #bebebe;
    }
  }

  &.striped tr:nth-child(2n) {
    background-color: #fafafa;
  }

  & td, & th {
    padding: 20px 20px 20px 20px;
    box-sizing: content-box;
  }

  & tr.headingRow {
    font-weight: bold;
    color: #202751;
    border-bottom: solid 3px #202751;
  }

  & td.tableColumnWidth1 {
    width: 2rem;
  }

  & td.tableColumnWidth2 {
    width: 4rem;
  }

  & td.tableColumnWidth3 {
    width: 6rem;
  }

  & td.tableColumnWidth4 {
    width: 8rem;
  }

  & td.tableColumnWidth5 {
    width: 10rem;
  }

  & td.tableColumnWidth6 {
    width: 12rem;
  }

  & td.tableColumnWidth7 {
    width: 14rem;
  }

  & td.tableColumnWidth8 {
    width: 16rem;
  }

  & td.tableColumnWidth9 {
    width: 18rem;
  }

  & td.tableColumnWidth10 {
    width: 20rem;
  }

  & td.tableColumnWidth11 {
    width: 22rem;
  }

  & td.tableColumnWidth12 {
    width: 24rem;
  }

  & td.tableColumnWidth13 {
    width: 26rem;
  }

  & td.tableColumnWidth14 {
    width: 28rem;
  }

  & td.tableColumnWidth15 {
    width: 30rem;
  }

  & td.tableColumnWidth16 {
    width: 32rem;
  }

  & td.tableColumnWidth17 {
    width: 34rem;
  }

  & td.tableColumnWidth18 {
    width: 36rem;
  }

  & td.tableColumnWidth19 {
    width: 38rem;
  }

  @media (max-width: 899px) {
    & {
      & tr.headingRow {
        display: none;
      }

      & tr {
        display: block;
        padding: 15px 0px;
      }

      & td {
        display: block;
        padding: 5px;
      }

      & td.tableColumnWidth1,
      & td.tableColumnWidth2,
      & td.tableColumnWidth3,
      & td.tableColumnWidth4,
      & td.tableColumnWidth5,
      & td.tableColumnWidth6,
      & td.tableColumnWidth7,
      & td.tableColumnWidth8,
      & td.tableColumnWidth9,
      & td.tableColumnWidth10,
      & td.tableColumnWidth11,
      & td.tableColumnWidth12 {
        width: auto;
        padding-left: 5px;
      }
    } 
  }
}

.badge {
  border-radius: 3px;
  border: solid 3px #244A60;
  color: #244A60;
  padding: 2px 5px;
  width: max-content;
  white-space: nowrap;

  &.first {
    margin-bottom: 0.5rem;
  }

  &.green {
    border: solid 3px #00AC78;
    color: #00855d;
  }

  &.yellow {
    border: solid 3px #FFBF47;
    color: #000000;
  }

  &.lightBlue {
    border: solid 3px #1976CC;
    color: #166AB8;
  }

  &.lightGrey {
    border: solid 3px #C4C4C4;
    color: #000000;
  }

  &.red {
    border: solid 3px #FF0000;
    color: #FF0000;
  }

  &.inline {
    position: relative;
    display: inline;
  }
  
  @media (max-width: 899px) {
    & {
      &.inline {
        display: inherit;
      }
    }
  }
}

