.editSection {
    .editSectionHeading {
        display: inline-block;
    }

    .editAction {
        border: none;
        padding-top: 0;
    }

    .editLink {
        border: none;
        padding: 0;
    }

    .editList {
        margin-top: 0;

        .editListItem {
            margin-top: 0.5rem;
        }
    }
}
