.uikit-display-3 {
    margin-top: 1.6em;
    font-weight: normal;
    color: #313131;
    display: block;
    line-height: 1.4;
    font-size: 24px;
    text-align: center;
    padding-bottom: 48px;
    margin-left: auto;
    margin-right: auto;
    max-width: 82%
}

.icon {
    float: right;
    width: 48px;
    height: 48px;
}

.summary {
    font-size: 24px;
    line-height: 1.38;
    margin-bottom: 20px;
}

.full-header {
    background: #def4f9;
    padding-top: 5em;
}

.full-header h4:first-of-type, .full-header ul {
    margin-top: 0;
}

.full-header > div {
    max-width: 75em;
    margin: 0 auto;
    padding: 0 1.6em;
}

.tiles {
    padding: 0 55px;
    margin-top: 36px;
}

.tiles li {
    width: 100%;
    border-radius: 3px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(102, 102, 102, 0.3);
    border: solid 1px #bbbbbb;
    display: block;
    margin-top: 24px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position-x: 97%;
    background-position-y: 83%;
    padding: 24px;
}

.tiles li:hover, .tiles li:focus {
    box-shadow: 0 2px 4px 0 rgba(102, 102, 200, 0.7);
    border: solid 2px #5bcbe3;
    cursor: pointer;
}

.tiles li:hover a:first-child, .tiles li:focus a:first-child {
    background-color: #5bcbe3;
    color: #313131;
}

.explore {
    padding-top: 48px;
    padding-bottom: 58px;
    background-color: #f0f3f5;
}

.tiles p {
    font-size: 17px;
}

.tiles li h3 {
    margin-top: 0;
}

.fine {
    color: #313131;
    font-size: 14px;
    line-height: 1.57;
    padding: 0 48px;
}

.code h2 {
    font-size: 32px;
    font-weight: bold;
    line-height: 1.4;
}

.code a[role="button"] {
    color: white;
    font-size: 16px;
    border-bottom: 0;
}

.code a[role="button"]:hover {
    background-color: #115361;
    color: white;
}

.center {
    width: 1024px;
    margin: 0 auto;
    text-align: left;
}

.illustration {
    margin-top: 14px;
    margin-bottom: 10px;
    margin-left: 30px;
}

.code-text {
    margin: 0 auto;
    font-size: 20px;
    line-height: 1.45;
    padding-bottom: 48px;
    padding-left: 48px;
}

.what {
    width: 36%;
    margin: 0 auto;
    text-align: center;

}

.what p {
    font-size: 20px;
}

@media only screen and (max-device-width: 768px) {
    .title {
        font-size: 28px;
    }

    .tiles {
        padding-top: 16px;
    }

    .summary {
        font-size: 20px;
    }

    .illustration {
        width: 306px;
    }

    .center {
        width: 100%;
    }

    .code h2 {
        font-size: 28px;
        font-weight: bold;
        line-height: 1.6;
    }

    .tiles li h3 {
        font-size: 20px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.45;
        letter-spacing: normal;
    }

    .code-text {
        font-size: 18px;
        max-width: 475px;
    }
}

@media only screen and (max-device-width: 767px) {
    .full-header {
        padding-top: 2em;
        text-align: center;
        padding-bottom: 2em;
    }

    .illustration {
        margin: 0;
    }

    .tiles {
        padding: 0 24px;
    }

    .tiles li {
        background-position-y: 97%;
    }

    .code a[role="button"] {
        text-align: center;
        width: 100%;
    }

    .code-text {
        padding: 24px;

    }

    .explore {
        padding-top: 1px;
        padding-bottom: 48px;
    }

    .what {
        padding: 0 24px;
        width: 100%
    }
}