.badges {
  margin: 0 0 .5rem;
}

.badges span {
  font-size: 12px;
  margin-right: 5px;
}

.badges span:last-of-type {
  margin-right: 0;
}

.badge__sme {
  background-color: #17788d; 
}
.badge__indigenous {
  background-color: #224a61;
}
.badge__nfp_social_enterprise {
  background-color: #6e6e6e;
}
.badge__recruitment {
  background-color: #880e48;
}
.badge__recruiter_only {
  background-color: #880e48;
}
.badge__recruiter_both {
  background-color: #880e48;
}
.badge__consultant_only {
  background-color: #880e48;
}
.badge__start_up {
  background-color: #152d3b;
}
.badge__regional {
  background-color: #000000;
}
.badge__disability {
  background-color: #007554;
}
.badge__product {
  background-color: #0A6FB6;
}
.badge__labourHire {
  background-color: #bc1486;
}