.modal-wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 50%;
  transform: translate(-50%, -50%);
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  justify-content: center;
  color: black;
  background-color: white;
  -webkit-box-shadow: 0px 2px 6px 2px grey;
  -moz-box-shadow: 0px 2px 6px 2px grey;
  box-shadow: 0px 2px 6px 2px grey
}

.close-modal-prompt {
  text-decoration: underline;
  color: blue;
  margin-left: 50%;
  margin-right: 50%
}

.close-modal-prompt:hover {
  cursor: pointer
}

.modal-item {
  align-self: center;
  padding: 20px
}

.glyphicon {
  font-size: 20px;
  padding: 10px;
  color: white;
  cursor: pointer
}

.btn {
  margin: 10px
}

